[2019-12-02 10:09] robinkb opened #3 "Migrate Velero Helm chart away from github.com/helm/charts"
**Describe the problem/challenge you have**

With the release of Helm 3, Helm 2 has transitioned into maintenance mode, and so has the Helm Charts GitHub project. As of November 13th, new charts are no longer accepted. After May 13th, 2020, only security fixes will be accepted, and the Helm Charts GitHub project will be delisted from [Helm Hub](https://hub.helm.sh/). Finally, on November 13th, 202

[2019-12-12 20:50] carlisia opened #7 "Update Velero Helm chart for compatibility with Helm 3"
Please see the original issue reported by @joschi36:

https://github.com/helm/charts/issues/19387

[2019-12-17 08:50] cpanato opened #2 "[EPIC] Helm chart migration"
similar we did for jaeger tracing here: https://github.com/jaegertracing/jaeger/issues/1976

### Requirement - what kind of business use case are you trying to solve?

Keeping Velero Helm charts and possible other charts from vmware-tanzu accessible for end users, and also improving maintainability of the chart(s) moving forward.

The `stable` and `incubator` Helm chart repositories, currently lis

[2019-12-17 21:31] carlisia opened #1 "Add instructions for the community to contribute to Velero helm chart in the new repository"
From @cpanato:

I am assuming this will be on a per chart/project basis.

[2019-12-17 21:42] carlisia opened #4 "Add automation"
From @cpanato:

[2019-12-17 21:45] carlisia opened #5 "Add new Velero Charts repository to the Helm Hub"
From @cpanato:

[2019-12-17 21:47] carlisia opened #6 "Deprecate the helm/charts Velero chart"
From @cpanato:

[2019-12-17 21:50] carlisia commented on #1
Also from @cpanato:

stable/velero OWNERS: @hectorj2f @nrb @prydonius (the last two are already vmware members 😄 )

The answer to that is yes.

[2019-12-17 21:51] carlisia commented on #2
Answering @cpanato:

Yes please!

Yes

Yes. I made a note of it on https://github.com/vmware-tanzu/helm-charts/issues/1

[2019-12-17 22:07] nrb commented on #1
@carlisia Could you invite all of the members of @vmware-tanzu/velero-owners ?

[2019-12-17 22:11] carlisia commented on #1
Done.

[2019-12-17 22:14] carlisia commented on #7
Blocked by: https://github.com/vmware-tanzu/helm-charts/issues/2

[2019-12-17 22:15] carlisia commented on #5
let's keep this issue to just moving the existing Velero chart.

Updating for Helm 3 compatibility is being tracked here: https://github.com/vmware-tanzu/helm-charts/issues/7

[2019-12-18 11:37] cpanato commented on #2
ok, will start the work @carlisia :D

[2019-12-18 15:21] cpanato opened #9 "Create new branch called `gh-pages`"
- To host the chart releases.
- Also need to configure Github pages and point to this branch
- maybe set a dns

cc @carlisia

This closes https://github.com/vmware-tanzu/helm-charts/issues/5.

[2019-12-18 15:29] cpanato commented on #2
@kmova i think is already answer :) will not duplicate :) but let me know if need more clarification

[2019-12-18 15:46] carlisia commented on #9
`gh-pages` has been created.

[2019-12-18 15:49] carlisia commented on #9
I'm googling how/where to configure GH pages and not finding anything. Pls give me a pointer. :)

[2019-12-18 15:58] carlisia commented on #9
Found.

[2019-12-18 15:59] carlisia commented on #9
This is the updated setting:

![image](https://user-images.githubusercontent.com/16508/71101897-54bbcd80-216c-11ea-95bf-27ebdab495cb.png)

[2019-12-18 17:52] carlisia commented on #9
@cpanato pls confirm that the source for the GH Pages should be the `gh-pages` branch and not `master`.

[2019-12-18 18:15] nrb commented on #9
Looks correct to me. Resolves to https://vmware-tanzu.github.io/helm-charts/ at the moment.

[2019-12-18 18:17] carlisia commented on #9
Yep!
![image](https://user-images.githubusercontent.com/16508/71112062-930eb800-217f-11ea-94ba-3b39d69f2e21.png)

Closing this issue as it is done.

[2019-12-18 18:17] #9 closed

[2019-12-18 18:30] cpanato commented on #9
@carlisia yes the github page should point to `gh-pages` branch :)

[2019-12-18 18:37] cpanato commented on #3
this is done @carlisia @nrb

[2019-12-18 18:37] cpanato commented on #6
will do it tomorrow

[2019-12-18 18:38] cpanato commented on #4
this is done as well @carlisia @nrb

[2019-12-18 18:40] carlisia commented on #4
Addressed in: https://github.com/vmware-tanzu/helm-charts/pull/11

[2019-12-18 18:40] #4 closed

[2019-12-18 18:44] carlisia commented on #3
The Velero chart now lives in the repo, as addressed by https://github.com/vmware-tanzu/helm-charts/pull/8, so this issue is done.

Deprecation of original repo/chart will be tracked here: https://github.com/vmware-tanzu/helm-charts/issues/6

[2019-12-18 18:44] #3 closed

[2019-12-18 18:47] carlisia commented on #5
This is a dup of https://github.com/vmware-tanzu/helm-charts/issues/3, which is done, so closing this.

[2019-12-18 18:50] carlisia commented on #5
Nope, it is not a dup, this is about Helm Hub. Reopening.

[2019-12-18 19:14] carlisia opened #13 "Verify lint failure"
Adding this as a reminder to check the lint failures. I merged the PR below before waiting for the check results:

https://github.com/vmware-tanzu/helm-charts/runs/355089737

[2019-12-18 19:15] carlisia commented on #13
c/c @cpanato

[2019-12-19 13:10] cpanato opened #15 "Enable DCO checker"
Per this doc https://github.com/vmware-tanzu/helm-charts/blob/master/CONTRIBUTING.md#dco-sign-off contributors need to sign off the commits

so to make sure this is done will be good to enable the https://github.com/probot/dco or any other solution that vmware have.

cc @carlisia

[2019-12-19 13:13] cpanato commented on #13
this looks like a Github issue, this is part of the Github, maybe at that time try to re-run the check.
let observer if that happens again but for now no action from my side

@carlisia

[2019-12-19 15:11] carlisia commented on #15
Good point! I'll take this on.

[2019-12-20 13:50] cpanato commented on #6
PR in helm chart here: https://github.com/helm/charts/pull/19719

[2019-12-20 13:51] cpanato opened #16 "Landing Page for helm chart"
Here's an example that's kind of nice and also easy

https://charts.fluxcd.io/
or

https://helm.mattermost.com/

[2019-12-20 14:13] cpanato commented on #5
PR: https://github.com/helm/hub/pull/214

[2019-12-20 15:35] cpanato commented on #1
can invite me if you want 😇 lol

[2019-12-20 16:14] carlisia commented on #1
That's a great idea! Let me just check with the others.

[2019-12-20 17:32] carlisia commented on #6
PR merged.

[2019-12-20 17:32] #6 closed

[2019-12-20 17:32] carlisia commented on #16
PR https://github.com/vmware-tanzu/helm-charts/pull/17 merged.

[2019-12-20 17:32] #16 closed

[2019-12-20 17:33] nrb opened #19 "Migrate open Velero chart PRs from the stable/charts repo to this one"
~https://github.com/helm/charts/pull/16783 => https://github.com/vmware-tanzu/helm-charts/pull/21~
https://github.com/helm/charts/pull/18472
~https://github.com/helm/charts/pull/17585 => #22~

These 3 PRs are all pending my reviews, and now that the chart in that repo is deprecated, I'd like to get them moved over here.

I can help do that, probably 1 PR at a time.

[2019-12-20 17:35] carlisia commented on #13
Closing, not an issue. Lint tests are passing: https://github.com/vmware-tanzu/helm-charts/runs/358213218

[2019-12-20 17:35] #13 closed

[2019-12-20 17:53] carlisia commented on #15
I made a request, think @timh needs to approve it.

[2019-12-20 17:58] cpanato opened #20 "Use a github token from a bot instead of the one for @carlisia"
the token that is being used to release the charts (https://github.com/vmware-tanzu/helm-charts/releases) are from @carlisia a good practice is to use a bot github account, so we dont need to use personal tokens instead we use the token from the bot

/cc @carlisia @nrb

[2019-12-20 18:26] carlisia commented on #20
@nrb do we have a bot account for anything?

[2019-12-20 18:36] nrb commented on #20
I'm not aware of a Tanzu one, but that doesn't mean there isn't one somewhere.

[2019-12-20 19:57] nrb commented on #19
Ok, one more left. That one may take a little longer, as I have a pending review that I didn't finish. I remember starting it one evening during KubeCon, but I think it may have actually been fixed by another, already accepted PR so I need to do some research.

[2019-12-20 22:11] dirtbag opened #45 "[velero] install from helm chart works, but no pods show up?"
**What steps did you take and what happened:**
I installed a velero from terraform to my gke cluster and it looks like the chart installed successfully, but there are no velero pods running and there are no deployments that I can find.

**What did you expect to happen:**
I expected at least a velero pod somewhere on my cluster.

**The output of the following commands will help us better understand

[2019-12-20 22:24] carlisia opened #24 "Make the velero-restic-restore-helper init-container configurable in values.yaml"
I would like to be able to configure the velero-restic-restore-helper init-container in values.yaml as part of the helm installation run.

While the image.repository setting is taken into account in assembling the velero image path, the velero-restic-restore-helper init-container image name is not affected by it. Customisation of the full qualified image name can only be done via a ConfigMap (as d

[2019-12-20 22:35] carlisia opened #25 "Missing annotations on the BackupStorageLocation CRD"
**Describe the bug**
There are missing annotations on the Velero BackupStorageLocation CRD.

**Version of Helm and Kubernetes**:
Helm v2.14.3

**Which chart**:
Velero v1.2.0

**What happened**:
There are missing annotations on the Velero BackupStorageLocation CRD

**What you expected to happen**:
[code]

The above works using Workload Identity on GKE.

This should work, but does not:

[code]

**An

[2019-12-22 22:56] carlisia commented on #5
Dnoe: https://github.com/helm/hub/pull/214

[2019-12-22 22:56] #5 closed

[2019-12-23 14:49] carlisia commented on #7
No longer blocked.

[2020-01-02 11:46] KristapsT opened #28 "Add documentation to values.yaml on how to include secrets"
I am installing Velero in K8s cluster that will use Azure Storabe blob as backed, using latest chart version 2.7.5, but I am getting the following error in Velero logs on startup:

[code]

Here is my valuesfile:

[code]

And here are the contents of pre-existing secret "cloud-credentials" in the namespace where velero is being installed:
[code]

Am I doing anything wrong with my configuration?

[2020-01-02 21:24] wesmiles commented on #7
Hi, Is there a view to how long it will take to support Helm 3? Thanks

[2020-01-03 08:55] KristapsT commented on #28
I figured this out, I was providing bad existing K8s secret to the chart, the data of secret should be one value "cloud" that in turn contains all required credentials like so:
[code]

where cloud value when decoded is:
[code]

Worked fine after fixing the secret.

Maybe a better documentation about what's required of the pre-existing is needed?

[2020-01-03 13:03] sathishkumarkrishnasamy opened #30 "Restic daemon set failed to communicate with Azure provider"
In Present helm chart restic-daemonset.yaml obtaining azure credentials from sercret and exposed as environment variable.

          {{- if and .Values.credentials.useSecret (eq $provider "azure") }}
          envFrom:
            - secretRef:
                name: {{ include "velero.secretName" . }}
          {{- end }}

But velero image velero/velero:v1.2.0 expects the credential from  env AZURE

[2020-01-08 15:51] previ commented on #28
A secret does get created but the name and format is different than expected.
So it's probably a bug in the chart.

[2020-01-08 19:41] carlisia commented on #15
Done!

![image](https://user-images.githubusercontent.com/16508/72009981-d5219b80-320b-11ea-8def-0af63e915543.png)

[2020-01-08 19:41] #15 closed

[2020-01-10 04:20] lachlancooper opened #34 "Add annotations on ServiceAccount to support IAM Roles for Service Accounts"
Velero supports IAM Roles for Service Accounts as of v1.2.0: https://github.com/vmware-tanzu/velero/pull/1962

To actually use these the Helm chart needs to support custom `annotations` on the `ServiceAccount` resource, so a role annotation can be specified at install time. For example:
[code]

As velero runs as `nobody`, [the pod will also need suitable permissions](https://github.com/aws/amazon-

[2020-01-10 14:55] carlisia commented on #7
@cpanato would you have the bandwidth to tackle this in the near future?

[2020-01-10 14:55] cpanato commented on #7
yes @carlisia

[2020-01-14 11:48] vterdunov commented on #28
Looks like this lines should be fixed
- https://github.com/vmware-tanzu/helm-charts/blob/7a1ffd05eacc12fc6bee597f15a877cfd4c894db/charts/velero/templates/deployment.yaml#L129
- https://github.com/vmware-tanzu/helm-charts/blob/7a1ffd05eacc12fc6bee597f15a877cfd4c894db/charts/velero/templates/deployment.yaml#L77

From `"velero.secretName"` to `.Values.credentials.existingSecret`

[2020-01-14 12:06] tobygale opened #37 "Restic daemon set does not honour extraEnvVars"
The Restic daemon set does not use any values set in `.Values.configuration.extraEnvVars`.

This is an issue when running Velero behind a HTTP proxy server, the result is I can backup deployments but not PVs.

The fix is to modify `restic-daemonset.yaml` to include:
[code]

[2020-01-19 19:09] easyenglishcoding opened #42 "The readme link to Velero CLI does not work"
Hi!

Please correct link to Velero CLI in README.md

Regards
Radek

![error](https://user-images.githubusercontent.com/59885921/72686646-3f351d00-3af7-11ea-9531-a8d394f892ef.jpg)

[2020-01-19 19:27] cpanato commented on #42
Thanks for letting bus know, are you willing to open a PR to fix this issue? Otherwise I can fix that tomorrow.

[2020-01-22 17:15] carlisia commented on #20
I sorta forgot about this but looking into it this/next week.

[2020-01-23 00:39] lachlancooper commented on #34
The first part of this was solved in #29.

[2020-01-23 12:23] jenting opened #44 "Drop CRDs manifest but install CRDs by velero install"
Right now, the velero helm chart CRD manifest is not in-sync with velero repo.
Also the command `velero install --crds-only` supports install CRDs.

I'm wondering that is it better to drop helm-chart CRDs manifest but install the CRDs by `veleror install --crds-only`?
This way makes maintaining the CRDs from the single source and does not need to address sync CRD manifest from velero repo to veler

[2020-01-24 20:50] dirtbag commented on #45
we actually got it working.. Ill have to see If I can post what finally worked for us later.
stay tuned.  ;)

[2020-01-30 09:49] marvinf95 commented on #7
Is there any update about this issue? :)

[2020-01-30 20:44] carlisia commented on #44
@cpanato do you have any opinion?

I'm going to add this to next's week community meeting agenda.

[2020-01-30 20:46] carlisia commented on #44
https://hackmd.io/Jq6F5zqZR7S80CeDWUklkA

[2020-01-31 09:27] cpanato commented on #44
I saw other projects that don't install the CRDs as part of the helm installation, but I don't recall which ones were :(

I think this is a good idea but we need to make sure we output the additional commands we need to apply after we install the chart.

[2020-01-31 10:44] jenting commented on #44
I was work on this previously, if this is a good approach, I could help on this 😉

[2020-01-31 13:47] ajchiarello opened #49 "permit setting velero replicas"
I notice that the helm chart does not currently have an option to set the number of velero replicas - instead, it defaults to 1 replica. Unless there is a reason that more than one replica of the velero pod should be run, please add the option to set the replica count on install.

[2020-01-31 18:24] nrb commented on #44
I've also seen other projects do this, due to the way Helm's designed.

It comes down to Helm wanting to manage a release's lifecycle, while a CRD by definition must live much longer than any one release. Helm has tried to fix it in several ways, and so far I haven't seen any of them be particularly reliable in Helm 2; I've not done any experimenting in Helm 3 to know if the situation has improved

[2020-02-03 02:57] jenting commented on #49
The only reason I could thought on change the #replicas is for pod HA.
@ajchiarello Could you please elaborate on the use case to change the #replicas?

[2020-02-03 13:39] ajchiarello commented on #49
@jenting pod HA and deployment resiliency is my use case. If a particular node goes down, I still want the velero deployment to persist uninterrupted.

[2020-02-03 19:57] carlisia commented on #44
Just something to think about: we have the intention of dropping the `velero install` command: https://github.com/vmware-tanzu/velero/pull/2202

[2020-02-04 13:33] galindro commented on #34
@lachlancooper are you working on it right now? I really need this feature and I can open a PR for it...

[2020-02-04 14:07] galindro commented on #34
PR opened. Couldn't wait sorry...

[2020-02-04 23:14] lachlancooper commented on #34
I wasn't working on it because it's covered by #41 😉

[2020-02-05 08:37] galindro commented on #34
@lachlancooper Is there any ETA for release #41 ?

[2020-02-11 12:23] fredgate commented on #30
Yes this is blocking : velero can not backup Azure files using Restic.
There is a opened pull request #46 opened since January 30.

[2020-02-13 16:37] HamzaK8s opened #61 "Azure deployment failed because it does not match velero cli installation"
I deployed velero on Azure using the helm chart. Everything looks good
[code]
But while running  `velero backup` command, I'm getting some weird errors as follows:

```time="2020-02-13T14:18:04Z" level=error msg="Error backing up item" backup=velero/ark-test-ns4-1581603471 error="pod volume backup failed: error setting restic cmd env: error getting azure restic env vars: unable to get all required

[2020-02-13 21:53] nrb opened #62 "Create vSphere runner for vsphere-cpi chart"
The vSphere CPI chart will need a proper vSphere runtime in order to be installed, so we'll need to add a vSphere runner to the GitHub Actions in order to make sure we can lint/test it.

[2020-02-14 14:35] branttaylor commented on #7
@cpanato @carlisia is there any estimate when Velero might support Helm v3? I know several other people have asked, but there has been no response so far.

[2020-02-19 02:00] jenting commented on #30
Thanks, I could backup with restic to Azure blob container with this PR.

[2020-02-21 02:24] jenting commented on #61
Related to #30

[2020-02-24 09:42] HamzaK8s commented on #61
@jenting can someone fix this ? I tried to send a PR for this but I got permission denied

[2020-02-24 20:54] #37 closed

[2020-02-25 07:28] jenting commented on #61
@HamzaK8s I am not sure if use #30 solution is just enough, maybe not need to remove the `envFrom`. Have to tried #30 solution?

[2020-02-25 09:17] HamzaK8s commented on #61
@jenting  including the  `envFrom` field  in the ``daemonset` through out the following errors :
[code]

[2020-02-25 23:57] TJM commented on #24
It appears to me that this is already here, using the configmaps, but the example (comment) has the wrong image url.

https://github.com/vmware-tanzu/helm-charts/blob/ccb3719638ae7c743114ab73d2d016aae0603831/charts/velero/values.yaml#L213-L218

We found the image should actually be something like `velero/velero-restic-restore-helper:v1.2.0`

~tommy

[2020-02-26 01:40] jenting commented on #61
@HamzaK8s Sorry I sent the wrong link before. I test with #46 and it works for me.

But I agree with you that we could remove the `envFrom` field, the better way is to include this change in the same PR https://github.com/vmware-tanzu/helm-charts/pull/46#issuecomment-589468328.

[2020-02-28 21:45] #34 closed

[2020-03-04 18:59] #30 closed

[2020-03-04 18:59] #61 closed

[2020-03-10 21:46] gsc-k8s-config-management opened #73 "Helm installed Velero uses restic even when restic is not enabled"
I'm attempting to get Velero working in our clusters using the helm chart.

Here is my values.yaml, with some values interpolated by our CD process:

[code]

Although I have nothing in here indicating restic should be used, the only way that Velero is attempting to backup persistent volumes is using restic. This fails since the daemonset is not deployed, so backups hang. I want Velero to use gcp s

[2020-03-10 21:48] thedevelopnik commented on #73
I accidentally opened this as one of our service accounts, but I swear it's a real person behind it :).

[2020-03-10 23:48] nrb commented on #73
@thedevelopnik What information are you seeing that makes you think Velero is using restic? Could you provide that? I'm guessing it's that a `velero backup` never completes?

If that's the case, could you post the output of `velero backup describe` of an affected backup please?

Also, did you label any pods with the `backup.velero.io/backup-volumes` label?

[2020-03-11 12:28] DamianKusz opened #74 "InitContainer (aws and gcp) plugin in error state after pod restarts"
We were using velero v1.1.0 installed from chart v2.1.9 and everything was fine. After upgrade and add the plugin that is reqired since velero v1.2.0, container starts with initContainers. Pod can be deleted and set up again without any errors. But after a day pod tries to restart itself and plugin declared in initContainers field is exitting with a code 1 and failing restart of pod.
Could you ple

[2020-03-11 15:06] thedevelopnik commented on #73
Thanks for the quick response!

Yes, I did include that annotation based on a guide I found, is that not necessary for non-restic backups?

Here's a sampling of logs from output of `k logs -n velero <velero-pod> | grep restic`

[code]

It calls out that it's skipping that snapshot to use restic. That is on the pod where I added the annotation.

Here is output from a describe of the last backup:

[

[2020-03-11 15:29] thedevelopnik commented on #73
@nrb that was it, didn't need the annotation and needed to set the region broader, thanks for the assist! This issue can be closed.

[2020-03-11 17:11] nxf5025 opened #75 "Missing "serverSideEncryption" in BackupStorageLocation Config"
The serverSideEncryption config is missing from the backupstoragelocation.yaml.

See https://github.com/vmware-tanzu/velero-plugin-for-aws/blob/master/backupstoragelocation.md

Will open PR in a moment

[2020-03-11 17:32] r-catania opened #77 "Unable to set insecureSkipTLSVerify for backupStorageLocation"
the flag  insecureSkipTLSVerify was added to velero under PR https://github.com/vmware-tanzu/velero/pull/1769 .
When setting the flag under backupStorageLocation it is currently ignored.

[2020-03-17 09:34] DamianKusz commented on #74
Problem still exists.
Logs from initContainer looks like it is internal problem
[code]

[2020-03-17 11:26] namm2 opened #83 "Backup to the AWS S3 bucket which encrypted by AWS KMS isn't working"
Hi, I'm trying to get Velero working on AWS environment and hitting to an issue with encrypted S3 bucket with AWS KMS.

S3 bucket was created by Terraform:
[code]

Created an IAM user for velero with permissions that was documented in https://github.com/vmware-tanzu/velero-plugin-for-aws#option-1-set-permissions-with-an-iam-user

Then I use the latest Helm chart to deploy to k8s cluster, with my o

[2020-03-17 17:37] nrb commented on #73
@thedevelopnik Sorry for the delayed response - that's correct, you only need that label for restic backups. Persistent volume snapshots will be taken without having to annotate or label anything.

[2020-03-17 17:37] #73 closed

[2020-03-22 21:09] vitobotta commented on #7
Hi @carlisia does the helm chart still support helm 2 only? Thanks

[2020-03-23 15:11] #24 closed

[2020-03-23 15:14] carlisia commented on #7
Hey @branttaylor, @wesmiles and @vitobotta, a PR review for this is wip: https://github.com/vmware-tanzu/helm-charts/pull/81

[2020-03-23 19:59] vitobotta commented on #7
Thanks @carlisia , hopefully it will be merged soon.

[2020-03-31 09:15] #7 closed

[2020-04-02 21:10] james-emerton opened #87 "Support environment variables from secrets"
I'm currently in the process of using this chart to deploy Velero for a cluster running on DigitalOcean. To support volume snapshots, I need to provide an environment variable `DIGITALOCEAN_TOKEN`. This chart currently only supports simple key/value environment variables, but I'd like to use `secretKeyRef`.

I propose that another key is added to `values.yaml` (to maintain compatibility) that simp

[2020-04-02 23:05] kav opened #88 "Chart UX improvements - ExistingSecret"
Hey y'all,
Looking over the chart and it seems like there are some great opportunities for improvement around getting everything setup. I'm new to Velero so feel free to correct misunderstandings.

The `existingSecret` option appears to expect a key named `cloud`. This isn't currently documented. Even better it'd be nice to allow the user to specify the key as a general Helm UX improvement.

Let m

[2020-04-02 23:05] kav opened #89 "Chart UX improvements - InitContainers/Provider"
Hey y'all,
Looking over the chart and it seems like there are some great opportunities for improvement around getting everything setup. I'm new to Velero so feel free to correct misunderstandings.

InitContainers/Provider
Could we switch the initContainers to be enabled based on the `provider` option? Or does an install support multiple `elero-plugin-for-X` entries. If that's the case what does th

[2020-04-03 02:40] kav opened #90 "Chart UX improvements - schedule.template"
Hey again,

schedules.<name>.template should be optional as you can just use the defaults. Also it's a bit non-idiomatic to use keys instead of an array with name properties here.

Let me know if you are interested in PRs for any of this.

[2020-04-04 08:07] koustubhg opened #91 "[Azure] Error installing helm chart on Azure"
I have the following credentials file `azure-storage-creds`
[code]

`kubectl -n dev create secret generic mysecret --from-file=cloud=azure-storage-creds`

`cat velero/dev-override.yaml`
[code]

I installed velero using this command:
`helm install --name=velero --namespace=dev -f velero/dev-override.yaml vmware-tanzu/velero`

I get the following error in the logs:

[code]

Where do I need to specif

[2020-04-09 23:22] limed opened #93 "Release 2.9.9 breaks volumesnapshotlocation.yaml"
It appears the the last release and the commit e38dce798a43f0cf5400b0da5f0699798ab3182f broke the helm chart and I can now not install this chart (it was working previously)

It throws the following error:

[code]

[2020-04-09 23:34] #75 closed

[2020-04-10 00:33] carlisia commented on #93
Hm. I guess I failed to test that PR. With either that commit or the branch for the PR https://github.com/vmware-tanzu/helm-charts/pull/94 I get the error below:

[code]

If I revert the `backupstoragelocations` template to before the https://github.com/vmware-tanzu/helm-charts/commit/e38dce798a43f0cf5400b0da5f0699798ab3182f commit, it works.

The `s3ForcePathStyle` and `s3Url` fields are not part

[2020-04-10 00:33] carlisia commented on #93
c/c @nrb and @cpanato.

[2020-04-10 02:17] yurinnick opened #95 "Provider configuration options"
After #82 got merged, it's now possible to configure two independent providers for backup and snapshots, however a few open questions remain:
- Top-level `configuration.provider` is still required to create a deployment [link](https://github.com/vmware-tanzu/helm-charts/blob/master/charts/velero/templates/deployment.yaml#L1)
- There is only one provider configuration can be passed into the deploym

[2020-04-10 03:52] yurinnick commented on #93
I made a mistake in #82 in both backup and snapshots configuration formating. #94 supposer to fix snapshot part, while #96 will cover the rest, also adding the testcase into CI config.

[2020-04-10 03:53] limed commented on #93
Hm so here is the error I'm actually getting running against the tip of master is this:

[code]

Not sure why my first comment had an issue with `backupstoragelocation.yaml` but my issue is related `volumesnapshotlocation.yaml` and I can actually reproduce the  error each time running with the options in the code snippet.  Hopefully that helps.

Additional data point

[code]

[2020-04-10 03:57] yurinnick commented on #93
If you don't mind, please add additional changes from #96 to #94 so it will save some time on review.

[2020-04-10 04:07] limed commented on #93
Took you changes and merged it into #94 in 45c2868563108bddc7aab7cd8f5369bdf6e8f90c

[2020-04-10 13:31] carlisia commented on #93
Hey @limed and @yurinnick, great team work! I appreciate it.

Almost there. The issue now is that that block expects everything to be a string, but at least this one value is a boolean:

![image](https://user-images.githubusercontent.com/16508/78994383-c392ad00-7af4-11ea-9838-aaf34769a069.png)

[2020-04-13 16:44] limed commented on #93
Apologies for the late reply, but I pushed a change in 8e98dd535052cba83ac2e3df3d87a19b63caae58 to hopefully fix this. I took what was available before the template would not render and incorporated it in to the PR

[2020-04-13 21:37] #95 closed

[2020-04-14 14:34] #93 closed

[2020-04-17 15:10] tmarinov opened #101 "Velero -> Helm 3 -> Error: backupstoragelocation.velero.io "default" not found"
Velero version:

Client:  Version: v1.3.2; Git commit: -;
Server: Version: v1.3.1

Velero Helm chart:

 Chart version:2.9.13;
 App version: 1.3.1;

Helm version:

version.BuildInfo{Version:"v3.1.1", GitCommit:"afe70585407b420d0097d07b21c47dc511525ac8", GitTreeState:"clean", GoVersion:"go1.13.8"}

Trying to install Velero by using Helm 3, but having the following issues:
1. Info (error?) during the

[2020-04-17 15:58] jblackburn21 commented on #101
I just ran into this, make sure your --storage-location and --volume-snapshot-locations flags match what you set for configuration.backupStorageLocation.name and configuration.volumeSnapshotLocation.name.

You can also set these names to "default" so that you don't have to provide the flags.

[2020-04-17 23:57] tmarinov commented on #101
Thanks @jblackburn21 ,
This solved the problem and now it's  working!

[2020-04-17 23:58] #101 closed

[2020-04-27 08:42] ahmadhajali opened #102 "backupstoragelocation.velero.io default not found"
After upgrading Velero from v1.1.0 to v1.3.1 we are encountering with the following issue:
We use the following setting:

[code]

As mentioned in the comment above **configuration.backupStorageLocation.name** usually should match **configuration.provider.**

If the name is set to "aws", we getting backupstoragelocation.velero.io default not found errors, and no backups are done. In addition, metri

[2020-04-28 20:36] CarpathianUA commented on #102
Experiencing the same

[2020-04-28 21:23] cprivite opened #103 "Helm install documentation has no info about how to specify the --set-file key"
When you run helm install with the --set-file argument, you need to provide a key to which the file you're passing in is mapped to. Unfortunately, the current helm-charts/charts/velero/README.md  doesn't give you any clues about what that should be.

This was handed in the past via the main velero documentation by the docs created in this issue: https://github.com/vmware-tanzu/velero/issues/1533

[2020-05-05 14:43] yadachi commented on #102
it was same for me.
but it turns out that I need to specify storage location in my backup
by default a backup job look for a storage location name `default` not `aws`

[2020-05-06 07:53] ahmadhajali commented on #102
I changed the storage location to default, but in the previous velero version, it accepts different values.
Is it a new behavior?

[2020-05-06 10:01] yadachi commented on #102
looks like it changed from default to `backupStorageLocation.name` recently [here](https://github.com/vmware-tanzu/helm-charts/commit/dd3b6d2e703d9f345284795d54d7ef15f3c6f265)
if you leave name empty then, it will fall back to `default` but the comment does mislead you bit there.
I wonder if we can pass `--default-backup-storage-location` option that cli installation has in helm chart.

[2020-05-13 10:16] ahmadhajali commented on #102
will give it a try

[2020-05-13 13:14] tvvignesh opened #105 "Adding support for feature flags (eg. EnableCSI)"
Hi. According to the docs here: https://velero.io/docs/v1.3.2/csi/ I have to add `--features EnableCSI` features flag to enable CSI support in velero core. This is fine if using `velero install` but can't find the same when using the helm chart for velero installation.

Any way to enable it using helm?

Thanks.

[2020-05-19 19:38] ashish-amarnath opened #108 "Remove prometheus operator CRDs from Velero charts"
Following up from https://github.com/vmware-tanzu/velero/issues/2221

We should remove prometheus operator CRDs from this repo because:
1. They are not essential for Velero's functionality.
2. CRDs installed from this chart may interfere with those installed by prometheus operator installation.

[2020-05-20 18:51] #105 closed

[2020-05-27 23:07] MiyKh commented on #28
Is it fixed in latest velero chart (2.9.3)?
I still have the error:
[code]

[2020-05-28 15:35] nrb commented on #28
@MiyKh The latest version of the chart should be 2.11.0, which came out with the v1.4.0 release.

[2020-06-01 01:28] migueleliasweb opened #112 "Add RBAC (ClusterRole,Role, RoleBinding, ClusterRoleBinding) kinds to `restoreResourcePriorities` for Velero"
Hi all,

I stumbled across a small problem when restoring Velero backups.

After the restore CRD is created, I've found that any `Kinds` (deployments, cronjobs, daemonsets, etc) that result in Pods being created, might have problems starting up their pods.

Due to the nature of the Controle Plane, Pods that rely on having access to the `Kubernetes API` (via RBAC config - [Cluster]Role, [Cluster]Ro

[2020-06-01 01:35] migueleliasweb commented on #112
Ps: don't know wether the change you need to be made in the code itself or in the chart, since the default list in defined in: https://github.com/vmware-tanzu/velero/blob/master/pkg/cmd/server/server.go#L485

[2020-06-02 09:21] optimus-kart commented on #103
What should be the key for azure credentials?
I am surprised no one has looked it till now

[2020-06-02 13:59] optimus-kart commented on #102
Facing the same issue and solutions?

[2020-06-02 14:00] optimus-kart commented on #102
And seriously the documentation needs an update :/

[2020-06-04 10:15] RomanPanaget opened #113 "Velero helm chart not found when set as dependency"
Hi, I'm currently trying to implement my own backup chart by firstly setting velero as a chart dependency. Somehow I am not able to board it as a dependency, I can only install it with `helm install`

Here's my `Chart.yaml`:

[code]

When I execute `helm dep build`or `helm dep update` I get this error:

[code]

[2020-06-06 08:32] adamrushuk commented on #102
I've just had this error, and fixed it.

If you've specified a value for `configuration.backupStorageLocation.name`, ensure you specify the same name in `schedules.<YOUR_SCHEDULE_NAME>.template.storageLocation`

[2020-06-06 11:05] AdamBuji opened #114 "validationerror while taking backup"
I deployed velero using helm chart
```helm install  --name velero --namespace velero --set configuration.provider=aws --set-file credentials.secretContents.cloud=credentials --set configuration.provider=aws --set configuration.backupStorageLocation.name=aws --set configuration.backupStorageLocation.bucket=backup --set configuration.backupStorageLocation.config.region=minio --set configuration.back

[2020-06-06 17:07] AdamBuji commented on #114
I had to use the flag --storage-location to specify the name of the storage location otherwise, it will use the default name

[2020-06-06 17:07] #114 closed

[2020-06-10 07:15] dguyhasnoname commented on #102
Here is what worked for me:

[code]

[2020-06-11 12:47] fredgate opened #116 "Restic daemon set does not honour log configuration"
The Restic daemon set does not use values about log in `.Values.configuration`.
It would be convenient to debug.

The fix is to modify `restic-daemonset.yaml` to include `logLevel` and `logFormat` as in the `deployment.yaml` file.

[2020-06-11 17:57] gnadaban opened #118 "Restic serviceAccountName setting not used with existing service accounts"
The Restic daemonset should set the `serviceAccountName` regardless of the service account creation setting. This would allow using eg. pre-created IAM role-bound service accounts as with the Velero server deployment.

Instead of:
[code]

It should not filter:
[code]

[2020-06-26 16:51] Morzain commented on #113
I was running into an issue with this as well, and had to set the name to just 'velero'

[2020-06-30 16:02] alikhtag commented on #91
Following override yaml is working for us
[code]
One thing to note, we use `ServicePrincipal` for RBAC, but from looking at your `azure-storage-creds` credentials file you seem to use it too.

[2020-07-01 13:38] vmwiz opened #121 "Implement custom CA for BackupStorageLocation"
Following https://github.com/vmware-tanzu/velero/issues/1027 / https://github.com/vmware-tanzu/velero/issues/2330 / https://github.com/vmware-tanzu/velero/issues/2332 / https://github.com/vmware-tanzu/velero/issues/2333

Please adapt the Helm chart to allow setting a custom CA bundle in the BackupStorageLocation

[2020-07-02 13:25] reddiablo85 commented on #121
linking: https://github.com/vmware-tanzu/velero/issues/2675

[2020-07-10 18:41] acanewby opened #122 "Support --default-volumes-to-restic flag in values.yaml"
[Additional settings](https://velero.io/docs/master/customize-installation/#enable-restic-integration) are required when installing velero directly via command line.

Specifically, you need to pass the following:

- `--use-restic` to cause `restic` support to be installed
- `--default-volumes-to-restic` if you want all volumes to be backed up by `restic` by default

If you do not specify the secon

[2020-07-21 05:47] tlvenn commented on #122
There is definitely something missing so that restic integration can be configured to include all your volumes (opt-out strategy) by default, however you can still do it by passing the flag when you create the backup:

[2020-07-21 21:46] f35f0ef9d0e827dae86552d3899f78fc commented on #103
I am struggling with this problem trying to deploy with the Helm Chart using Azure blog storage. The error I get in the deployed (crashed) container is below.

[code]

I would like to use a Kubernetes secret instead of feeding a file to Helm, but it looks to me like the chart does not create this /credentials/cloud file that the Go code is looking for. I have `existingSecret` set to true.

[2020-07-21 23:14] f35f0ef9d0e827dae86552d3899f78fc commented on #103
OK, I was able to finally get past my problem by reading issue #21
This command helped me create the secret properly. Notice the **cloud** portion.
`kubectl -n dev create secret generic mysecret --from-file=cloud=azure-storage-creds`

Contents of azure-storage-creds:
AZURE_STORAGE_ACCOUNT_ACCESS_KEY=
AZURE_CLOUD_NAME=AzurePublicCloud

I retrieved the storage account access key using the command in

[2020-07-22 20:32] bclouser commented on #102
Not sure what the state of this was. I have been hitting a similar (if not identical) issue in the latest 2.12.0 helm chart installed fresh when trying to create a backup. Worth noting i am using helm3

I am able to "launch" the backup process, but it fails with validation error:
[code]

I have tried quite a number of things, including adding `--exclude-resource crd` and this issue remains.

There

[2020-07-22 22:56] davidgibbons commented on #102
@bclouser I believe I got it working with that version of the helm chart. The main thing I did was specify a non-default name for the backupstoragelocation and then remove any of the resources that pointed to the 'default' location.

[2020-07-23 00:37] cprivite commented on #103
I'm concerned no one who manages velero has assigned/rejected/commented on this yet. Velero is still a supported product right? One would hope the issues are actively reviewed at least as much as the open source projects that VMWare contributes to...

[2020-07-23 19:29] mshivanna commented on #102
Release 2.12.0 has BackupStorageLocation crd's name hardcoded to default.

`apiVersion: velero.io/v1
kind: BackupStorageLocation
metadata:
  name: default`

`{{- if .Values.backupsEnabled }}
apiVersion: velero.io/v1
kind: BackupStorageLocation
metadata:
  name: {{ include "velero.backupStorageLocation.name" . }}`

[2020-07-23 21:16] bclouser commented on #102
Hmmm

I have blown away all the crds created from velero's helm chart and then installed fresh with v2.12.0 (a number of times)

my config file looks like this:
[code]
and when i create a backup i see the same error, and I even went in and described the BackupResource using kubectl
[code]
notice the: ` Storage Location:  default`

Additionally, on the cli i found this command
[code]
so according t

[2020-07-23 21:53] carlisia commented on #102
I'm looking into this.

[2020-07-23 21:53] carlisia commented on #102
I noticed this is happening.

[2020-07-23 22:11] carlisia commented on #102
@bclouser just to try and unblock you:

Velero uses "default" **by default**, in other words, it uses that unless you specify a storage location name during backup creation. I see that your backup was created against a BSL named "default", but the cli shows you only have a BSL named "aws". If you edit the backupstoragelocations.velero.io/aws to backupstoragelocations.velero.io/default it would be

[2020-07-23 22:16] carlisia commented on #102
I myself just did the same thing, had a BSL named something other than "default" and created a backup w/o specifying what that BSL name was.

[2020-07-24 00:32] jenting commented on #44
My idea on how to achieve this is:
1. Run a Job which executes "velero install --crds-only" with helm pre-install hook to make sure that the CRDs are installed.
2. The tests resources are installed with helm post-install hook.

However, after testing on helm3, it seems like the helm would not waits the Job executes completed then install the other resources. It means that right now I cannot find a

[2020-07-24 01:34] carlisia commented on #103
I'll be looking at this tomorrow.

[2020-07-24 15:05] bclouser commented on #102
oh heck yeah @carlisia! That certainly works, thank you soo much! I hadn't noticed that `--storage-location` param

for posterity i ran this
[code]

[2020-07-24 15:14] carlisia commented on #102
Hahaha good! Don't beat yourself up, it is NOT intuitive!

We are going to change our CLI on v1.6 to make this easier to discover.

[2020-07-27 23:26] carlisia commented on #42
Maybe this was fixed, but it works now: https://github.com/vmware-tanzu/helm-charts/tree/main/charts/velero#installing-the-velero-cli.

Thanks for reporting it, @easyenglishcoding!

[2020-07-27 23:26] #42 closed

[2020-07-27 23:29] carlisia opened #129 "Fix velero installation on azure landscape"
Original issue: https://github.com/helm/charts/pull/18472

[2020-07-27 23:30] carlisia commented on #19
I opened an issue to track the left over one: https://github.com/vmware-tanzu/helm-charts/issues/129

Closing this.

[2020-07-27 23:30] #19 closed

[2020-07-27 23:49] carlisia commented on #103
@optimus-kart

The key is the same for any provider.

[2020-07-28 00:01] carlisia commented on #91
@koustubhg this issue has been a while, I'm going to close it but please reopen if you are still having any problem related to creating valid backup storage locations.

[2020-07-28 00:01] #91 closed

[2020-07-28 00:07] carlisia commented on #102
Hey @ahmadhajali thanks for bringing this up to our attention. If you are still having trouble, please see this explanation:

https://github.com/vmware-tanzu/helm-charts/issues/102#issuecomment-663257541

I added a PR to fix the documentation: https://github.com/vmware-tanzu/helm-charts/pull/128.

[2020-07-28 00:07] #102 closed

[2020-07-28 00:30] carlisia commented on #44
We'd need to generate the CRDs originally already containing these annotations right:

https://github.com/vmware-tanzu/helm-charts/blob/main/charts/velero/crds/backups.yaml#L8-L9

[2020-07-28 00:34] carlisia commented on #121
Fixed here: https://github.com/vmware-tanzu/helm-charts/pull/128

Thanks for bringing this up @vmwiz!

[2020-07-28 00:39] carlisia commented on #90
Hey @kav sorry for the delay in responding. Are you available to create a PR for this and the other improvements you suggested? They could be separate PRs but also could go altogether.

[2020-07-28 00:41] carlisia commented on #25
Related: https://github.com/vmware-tanzu/helm-charts/issues/83

[2020-07-28 00:44] carlisia commented on #45
Hey @dirtbag ping, we can't handle the suspense any longer! lol

[2020-07-28 00:44] carlisia commented on #2
Whoa, this is done!

[2020-07-28 00:44] #2 closed

[2020-07-28 01:14] #103 closed

[2020-07-28 02:05] carlisia opened #132 "Update VMware Tanzu Helm Repository"
This README needs to be updated:

https://vmware-tanzu.github.io/helm-charts/

TODO: figure out how.

Note: the link to the README points to `master` (instead of to `main`) and does hot forward.

[2020-07-28 02:08] carlisia commented on #113
Hi @RomanPanaget, I haven't used a chart as a dependency. I wonder if you are still having this issue?

[2020-07-28 08:04] RomanPanaget commented on #113
I tried just `velero` and other combinations without any luck. Might be solved today, haven't tried again since I opened this issue. Let's keep it open until someone can confirm it is solved or not just in case this is still a genuine issue

[2020-07-28 12:55] dirtbag commented on #45
ooh man.. sorry, totally forgot about this..   heres the values file I ended up with ..
looks like we ended up using an existing secret..

initContainers:
  - name: gcp
    image: velero/velero-plugin-for-gcp:v1.0.0
    imagePullPolicy: IfNotPresent
    volumeMounts:
      - mountPath: /target
        name: plugins

rbac:
  create: true

metrics:
  enabled: true
  scrapeInterval: 30s

serviceAccou

[2020-07-28 15:17] #108 closed

[2020-07-28 16:15] #118 closed

[2020-07-28 22:01] #116 closed

[2020-07-29 02:46] jenting commented on #77
Hi @r-catania, I saw the PR #82 includes a fix with this, could you please test it again?

Furthermore, Velero 1.4 and helm chart #128 includes passing custom CA to backupStorageLocation.

[2020-07-29 19:30] mdarii opened #134 "Prometheus Operator CRDs"
I see in commit: https://github.com/vmware-tanzu/helm-charts/commit/ed282ba70c2b63ce0e44e2ecd23ad3c175762a4c#diff-59c039e2299056296b9ae746b2d2b39c was removed support for prometheus operator servicemonitor, what was reason for that change, this is a very useful feature, do you plan to add it back?

[2020-07-29 20:32] carlisia commented on #134
Hi @mdarii, yes the removal was intentional, you will find the reasoning here: https://github.com/vmware-tanzu/velero/issues/2221.

Being that Prometheus has its own Helm chart, that is what should be used instead. I will close this issue.

[2020-07-29 20:32] #134 closed

[2020-08-05 01:57] jenting commented on #113
Hi @RomanPanaget, I read the helm doc https://helm.sh/docs/topics/charts/#chart-dependencies and I think using the name `velero` is correct because helm would search `velero` under URL `https://vmware-tanzu.github.io/helm-charts`.

Or you could use the name of the repo instead of URL.
[code]

And in `Chart.yaml`:
[code]

[2020-08-05 01:57] #113 closed

[2020-08-05 02:12] jenting commented on #44
According to discussion https://github.com/vmware-tanzu/velero/pull/2779, we wouldn't generate the CRDs with the helm annotation included.

I have an idea that we could have a CI check (by script) to verify the current helm chart app version is aligned with vmware-tanzu/velero released version CRDs and the script also helps to add annotation/labels to the CRDs.

[2020-08-05 02:20] jenting commented on #87
Hi @james-emerton, the PR #99 had covered it already, please check with the latest helm chart, thanks.

[2020-08-05 02:20] #87 closed

[2020-08-05 03:22] jenting commented on #77
I'm using helm3 to run `helm template` with helm chart version `2.12.14`, and I could see the `insecureSkipTLSVerify: true` in BackupStorageLocation.

[code]

[code]

[2020-08-05 03:22] #77 closed

[2020-08-06 23:57] kav commented on #90
Just looking back and this and realized I made the array change but didn't make the template optional change.

[2020-08-07 16:16] kav opened #139 "Additional Chart UX"
These are very minor but:
Configuration block feels arbitrary and is really leaking deployment vs other objects rather than representing a conceptual difference for a user. This is all configuration. Also non-idiomatic. I'd propose either removing the "configuration" level or renaming it velero. The latter is a bit confusing when using this chart as a requirement as it leads to velero.velero.prope

[2020-08-11 07:29] cpanato commented on #132
/assign

[2020-08-11 22:45] tom-hadlaw-hs opened #143 "CRDs aren't generated when using standalone Helm (2/3)"
**What steps did you take and what happened:**

Generating the manifests locally using helm 3 (v3.2.4):

`helm template vmware-tanzu/velero`

**What did you expect to happen:**

Helm to output all manifests, including CustomResourceDefinitions.

**The output of the following commands will help us better understand what's going on**:
(Pasting long output into a [GitHub gist](https://gist.github.com

[2020-08-12 14:47] v-y-a-s commented on #28
I still see this - Chart -

`dependencies:
- name: velero
  version: "2.12.13"
  repository: "https://vmware-tanzu.github.io/helm-charts/"`

`time="2020-08-12T14:43:33Z" level=info msg="setting log-level to INFO" logSource="pkg/cmd/server/server.go:177"
time="2020-08-12T14:43:33Z" level=info msg="Starting Velero server v1.4.0 (5963650c9d64643daaf510ef93ac4a36b6483392)" logSource="pkg/cmd/server/se

[2020-08-12 22:22] nrb commented on #28
@v-y-a-s I'm assuming the first example is Helm 2, since you explicitly mention Helm 3 in the 2nd?

[2020-08-12 22:44] #121 closed

[2020-08-12 22:57] v-y-a-s commented on #28
Sorry for inconsistent report. both are HELM 3.

The first one was done using dependency in a new helm3 chart and configuring the secrets.

The second one was done using helm3 command line.

The chart's values.yaml

[code]

chart.yaml

[code]

[2020-08-13 07:01] sharkymcdongles commented on #102
@carlisia is there a possibility of having an annotation to set a default BSL even if the name differs?

[2020-08-13 08:22] jenting commented on #143
Please run `helm template vmware-tanzu/velero --include-crds` on helm3, thanks.

[2020-08-18 18:20] kav commented on #90
There is an additional underlying CRD change required to make template optional but that's out of scope for the chart so I'll leave that to the team to decide on whether template is truly required for the CRD or sensible defaults can be used

[2020-08-21 18:38] carlisia opened #147 "[velero] Upgrade to Velero v1.5"
There are new CRDs and at least one new flag.

Please see: https://github.com/vmware-tanzu/velero/issues/2717.

[2020-08-28 01:04] eduartua commented on #102
Hey @bclouser how did you fix it? I have the same issue with GCP.

[2020-08-28 04:42] namm2 opened #151 "Helm2 upgrade to v2.12.15 failed"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)
- Create an EKS cluster v1.15
- Install Velero Helm chart
[code]

Helm overriden values.yaml file:
[code]

**What did you expect to happen:**
Velero helm chart installed successfully

**The output of the following commands will help us better understand what's going on**:

[2020-08-28 07:22] reddiablo85 opened #152 "Deployment fails when including schedule in helm"
**What steps did you take and what happened:**
When deploying helm (in a rancher k8s cluster) and including a schedule, deployment fails. With the following error:

"Failed to install app velero. Error: validation failed: unable to recognize "": no matches for kind "Schedule" in version "velero.io/v1""

It almost looks like a syntax or parsing error of the values.yaml or schedules.yaml files but I

[2020-08-28 07:46] reddiablo85 commented on #152
##
## Configuration settings that directly affect the Velero deployment YAML.
##

# Details of the container image to use in the Velero deployment & daemonset (if
# enabling restic). Required.
image:
  repository: dtr01p.abc.com:5000/velero/velero
  tag: v1.4.2_test
  # Digest value example: sha256:d238835e151cec91c6a811fe3a89a66d3231d9f64d09e5f3c49552672d271f38. If used, it will
  # take preceden

[2020-08-31 03:45] jenting commented on #143
Consider it as close, feel free to re-open it.

[2020-08-31 03:45] #143 closed

[2020-08-31 03:46] jenting commented on #147
I've proposed #146 so the CRDs are no needed to be manually update anymore from now and in the future.

[2020-08-31 03:48] jenting commented on #132
I think the issue had been fixed, so close it.

[2020-08-31 03:48] #132 closed

[2020-08-31 03:50] jenting commented on #152
I think it's duplicated to #151

[2020-09-01 06:51] reddiablo85 commented on #152
Hi @jenting I updated the schedule.yaml in templates with the annotations but still get the same error. Is there somewhere else I need to make changes?

{{- range $scheduleName, $schedule := .Values.schedules }}
apiVersion: velero.io/v1
kind: Schedule
metadata:
  name: {{ include "velero.fullname" $ }}-{{ $scheduleName }}
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/ho

[2020-09-01 06:55] jenting commented on #152
@reddiablo85,
could you please update your values.yaml at here https://github.com/vmware-tanzu/helm-charts/issues/152#issue-687867674?
currently, it's hard to read and I assume you install velero by
[code]

[2020-09-01 07:02] reddiablo85 commented on #152
here you go, we´re using Rancher and installing via the Rancher UI but yes, it´s helm underneath. Here´s the values.yaml and we feed in the following variables:

configuration.provider=aws
configuration.volumeSnapshotLocation.config.region=us-east-1
configuration.backupStorageLocation.bucket=velero-lab01
configuration.backupStorageLocation.prefix=gdc-poc02
configuration.backupStorageLocation.confi

[2020-09-01 07:13] jenting commented on #152
Let me change the format from #152 (comment)  to have a more readable output.

[code]

[2020-09-01 07:19] reddiablo85 commented on #152
thanks....the formatting goes mad when I just do a straight copy paste

[2020-09-01 07:30] jenting commented on #152
I did not see you setup
[code]

one more thing to clarify, the installation error log is still?
[code]

[2020-09-01 07:34] jenting commented on #152
BTW, since you're using Rancher, I'm not sure if you're using RancherOS or not.
If yes, the _restic_ podVolumePath should change to `/opt/rke/var/lib/kubelet/pods`, ref to https://velero.io/docs/v1.4/restic/

[2020-09-01 07:49] reddiablo85 commented on #152
We inject those parameters as variables during the Velero installation as they are site specific (different buckets for different clusters):

configuration.provider=aws
configuration.volumeSnapshotLocation.config.region=us-east-1
configuration.backupStorageLocation.bucket=velero-lab01
configuration.backupStorageLocation.prefix=gdc-poc02
configuration.backupStorageLocation.config.s3Url=https://s3-g

[2020-09-01 08:44] jenting commented on #152
@reddiablo85,
sorry I can't reproduce it on my site. I use the same helm version `3.2.0` on K8s cluster `1.18.6`.
I could successfully deploy and could get schedules CRs.
[code]

could you deploy velero from CLI, not from Rancher UI to double check the solution is suitable for you? Thanks.

[2020-09-01 09:45] reddiablo85 commented on #152
I hadn´t synced the catalog on the Rancher side.....it´s working now

Many thanks for the help @jenting

[2020-09-01 09:45] #152 closed

[2020-09-01 09:56] jenting commented on #152
Glad to hear that.

[2020-09-07 05:13] bharathiraja29 opened #154 "Velero pod Get "https://<someunknowip>:443/api/v1/namespaces/velero": Service Temporarily Unavailable"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)
We installed velero using command line for a on premise cluster with gcp bucket storage.

[code]

**What did you expect to happen:**
Installation successful

**The output of the following commands will help us better understand what's going on**:
(Pasting long output into

[2020-09-07 11:22] simran3695 opened #156 "chart velero not found in https://github.com/vmware-tanzu/velero"
Im getting below error when deploying velero. We are using argocd for the application deployment. Please help me to know the exact repo and version as this is first time im using velero. I have tested by manually deploying velero using plugin and now proceeding with the helm chart.

rpc error: code = Unknown desc = `helm2 dependency build` failed exit status 1: Error: could not find : chart velero

[2020-09-07 13:29] simran3695 commented on #156
I was able to install velero on my eks cluster.

[2020-09-07 13:29] #156 closed

[2020-09-07 14:19] simran3695 opened #157 "CRD are not generated with velero appversion 1.4.2 and version 2.12.16"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)
I have used the helm chart to deploy my app and using argocd for deploying it to the K8 Cluster

**What did you expect to happen:**
It has depoyed all the pods, sa , secret, rb, roles but it shud also deploy all the CRD's in the backend.

**The output of the following com

[2020-09-07 14:36] simran3695 commented on #157
root@P3ALAP-7171V9D:/mnt/c/Users/simran.choudhary/Downloads# velero backup create kube-system-backup --include-namespaces kube-system
Backup request "kube-system-backup" submitted successfully.
Run `velero backup describe kube-system-backup` or `velero backup logs kube-system-backup` for more details.
root@P3ALAP-7171V9D:/mnt/c/Users/simran.choudhary/Downloads# velero backup describe kube-system-b

[2020-09-08 02:13] #154 closed

[2020-09-08 13:05] simran3695 opened #158 "Backup is not creating with failed validation error on ArgoCD"
**What steps did you take and what happened:**
 I have scheduled mybackup with 2 hours

**What did you expect to happen:**
The backup process should be completed and i shud be able to see the data in my s3 bucket

**The output of the following commands will help us better understand what's going on**:
(Pasting long output into a [GitHub gist](https://gist.github.com) or other pastebin is fine.)
[c

[2020-09-08 13:07] simran3695 commented on #157
I was able to solve this issue. Hence closing it.

[2020-09-08 13:07] #157 closed

[2020-09-09 01:19] jenting commented on #158
@simran3695, could you please check the BackupStorageLocation CR be created? Also, could you please check the BackupStorageLocation is accessible from your Kubernetes cluster?

[2020-09-09 09:34] simran3695 commented on #158
@jenting The CRD is created and also my backup storage location is accessible bcause when i tried to do this exercise manually by installing plugins manually with velero install command it works. But while performing same activity through helm it is giving me this issue. Below are all the crds created for velero:

[code]

When manually installing it works and backup is seen in the the bucket creat

[2020-09-09 13:15] jenting commented on #158
@simran3695 could you please share your helm install commands or related values.yaml, thanks.

[2020-09-09 13:39] simran3695 commented on #158
Values.yaml

[code]

Charts.yaml
[code]

[2020-09-09 13:40] simran3695 commented on #158
@jenting we are using argocd for the deployment to EKS cluster and it is linked to our Github where everything is defined

[2020-09-09 13:47] jenting commented on #158
could you please test changing configuration.backupStorageLocation.name from aws to default?

[2020-09-09 13:50] simran3695 commented on #158
i tried that where i have changed configuration.backupStorageLocation.name, volumesnapshot.name and storage location as default. then it shows same error with default name

[2020-09-09 13:58] simran3695 commented on #158
Is the below secrets enough i dont see cloud credentials secret created. But in argocd i can see it synched
![image](https://user-images.githubusercontent.com/65241877/92608117-954b1080-f2d2-11ea-997c-505c258021d9.png)
![image](https://user-images.githubusercontent.com/65241877/92608157-a3009600-f2d2-11ea-9ffa-0d1d75e19d5a.png)

[code]

[2020-09-10 01:45] jenting commented on #158
@simran3695 I tried to simulate the problem by `helm install`, here are what I have found so far

1. please make sure to remove CRD when install, you might have old BSL/VSL content in the CRD when you change the _name_, `kubectl delete crds -l app.kubernetes.io/name=velero`. Or you could check there is no BSL/VSL setting  `kubectl get backupstoragelocations.velero.io`, `kubectl get volumestoragelo

[2020-09-10 10:32] simran3695 commented on #158
@jenting I tried performing the above changes.Steps followed:
1) Deleted all crds for velero with kubectl delete crds -l app.kubernetes.io/name=velero
2) kubectl get backupstoragelocations.velero.io always shows "No resources found"
3) Removed schedules to check if it works without it
4) Added the BSL and VSL name as aws but even after deploying the CRD was having name "default instead of "aws".
5

[2020-09-10 11:27] simran3695 commented on #158
@jenting after putting value for "backupsEnabled: false" to be false and changing name from default to aws now my crd is showing error as "a BackupStorageLocation CRD with the name specified in the backup spec
      needs to be created before this backup can be executed. Error:
      backupstoragelocation.velero.io "aws" not found"
Below is my code:

[code]

[2020-09-10 12:47] jenting commented on #158
I'm not familiar with ArgcCD and from the helm chart doc, there is no annotation "PreSync hooks" for the helm, it's for ArgoCD.

[2020-09-10 12:59] simran3695 commented on #158
@jenting what else i can try to resolve this

[2020-09-10 13:00] jenting commented on #158
could you please make sure `helm install` works properly?

[2020-09-10 13:03] simran3695 commented on #158
ok ill try that and let you know....Thankyou so much for all help

[2020-09-14 12:07] fabianmet commented on #158
I am running in to a similar issue and know what is causing this. ArgoCD maps helm hooks to hooks it expects. https://argoproj.github.io/argo-cd/user-guide/helm/#helm-hooks
The hooks for pre-upgrade and pre-install are only useful if you use helm itself. If you use GitOps, CRD's will be upgraded anyway.
This being the case the current hooks make the velero chart not very GitOps friendly.

Specific

[2020-09-14 12:56] simran3695 commented on #158
@fabianmet Thankyou for the complete explanation. Please let me know once you enable the PR.

[2020-09-14 19:21] zencircle commented on #102
I am having the same issue on v1.15.0, works fine on v1.14.2

[2020-09-15 10:03] fabianmet commented on #158
I'm afraid with the chart in it's current state, using hooks for CRD lifecycle management I am not able to fix this with a PR.
@jenting I noticed you added the upgrade hooks to the CRD. How do you feel about the hooks being removed in favor of the CRD directory for helm 3?
It is because hooks are treated as things to be non maintained after install that other tools such as ArgoCD run in to issues

[2020-09-15 10:30] simran3695 commented on #158
@jenting do we have any other alternative to this which i can use i:e will it work if i have CRD installed manually and helm will tc of only taking backups as scheduled?

[2020-09-15 15:43] zico-dev commented on #102
Hey, I am facing a similar issue, everytime I try to install the chart (aws/s3), I get the below error, but the pod seems to be running fine:

[code]
I am able to send the backup request, but the backup never works

[code]
Is it possible to please explain what is throwing the access denied error above? Also, the if I manually create the BSL crd, is specify the s3 bucket and prefix, is there a way

[2020-09-16 01:06] jenting commented on #158
We want to find a simple and easy manage method to manages CRD and both compatible with helm2 and helm3 on fresh install and upgrade scenarios.

From helm doc best practice, maybe it's better to separate charts (move CRD into another chart), ref to https://helm.sh/docs/chart_best_practices/custom_resource_definitions/

However, I was thinking if there is another way to not separate charts, so PR #

[2020-09-16 05:54] jenting commented on #158
Similar issue I found at ArgoCD https://github.com/argoproj/argo-cd/issues/4288

[2020-09-16 14:31] airwalk225 opened #160 "Schedules are not created with Helm 2.16.1"
**What steps did you take and what happened:**
- Installing via Helm 2.16.1 via tiller into EKS k8s 1.15.11
- Issued two schedules via the helm values, one with EBS snapshot and one without
[code]
- Installation of the chart was green, but the `schedule` resources were missing
[code]
- Confirmed missing `schedule` resources
[code]

**What did you expect to happen:**
`schedule` resources to be crea

[2020-09-16 15:00] jenting commented on #160
#146 had addressed this issue.

[2020-09-17 02:09] xUnholy opened #161 "Unable to add annotations for WLI"
Error: `coalesce.go:199: warning: destination for annotations is a table. Ignoring non-table value <nil>`

Should this not be the following:

[code]

As currently right now it's trying to add it to same line with `nindent` and it's failing.

https://github.com/vmware-tanzu/helm-charts/blob/a8ebcedb36a6f97b07219ab5963287865a86d209/charts/velero/templates/serviceaccount-server.yaml#L7

My `values.ya

[2020-09-17 02:23] bclermont commented on #147
1.5.1 had been release

[2020-09-17 12:10] airwalk225 commented on #160
Beautiful, thanks @jenting

[2020-09-17 12:10] #160 closed

[2020-09-17 14:32] simran3695 commented on #158
@jenting Can you please suggest the workaround for this issue or any fix?

[2020-09-18 16:54] svcua commented on #147
https://github.com/vmware-tanzu/helm-charts/pull/163

[2020-09-19 10:24] vitobotta commented on #157
@simran3695 I'm having the same issue. How did you solve? Thanks.

[2020-09-19 11:30] vitobotta commented on #102
I'm having the same issue. Even if I create the backup storage location manually with

`velero backup-location create default -n velero --bucket backups --prefix velero --config region=eu-central-1,s3Url=https://s3.eu-central-1.wasabisys.com --provider aws`

Velero complains with: `backupstoragelocations.velero.io \"default\" not found`. The backup storage location exists:

[code]

What can I do?

[2020-09-19 11:30] vitobotta opened #164 ""default" backup storage location not created with Helm chart 2.12.17"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)
Hi! I have been using Velero for a while without any problems, and I use Pulumi to install and upgrade it using the Helm chart.
I am trying to upgrade to to v1.5.1 with the chart 2.12.17 and everything works fine apart from the fact that the backup storage location is not

[2020-09-20 09:22] Vladikamira opened #165 "Schedule CRD got removed after Schedule template created on helm-2.16.10"
**What steps did you take and what happened:**
enabled `installCRDs: true` flag after upgrade helm-2.12.x to helm-2.16.10, and during `helm upgrade --install` step getting schedule CRD deleted after schedule template being created, which lead to removing schedule template.
As I understand, it because of post-upgrade hook in CRD
[code]

**What did you expect to happen:**

get Schedule template not

[2020-09-21 08:54] jenting commented on #165
@Vladikamira I think it's related to #153 at my first glance.

[2020-09-21 09:55] Vladikamira commented on #165
yes, you right! Thanks @jenting

[2020-09-21 09:55] #165 closed

[2020-09-22 13:36] DanOfir commented on #102
Hi, i am also facing the same issue `Validation errors:  a BackupStorageLocation CRD with the name specified in the backup spec needs to be created before this backup can be executed. Error: backupstoragelocation.velero.io "default" not found`

but when looking on the installed CRD's and the original helm-chart CRD i can find only CRD with the name `name: backupstoragelocations.velero.io` pay atte

[2020-09-22 13:47] adamrushuk commented on #102
^ this is what fixed it for me; explicitly adding the storage location.

[2020-09-22 14:59] DanOfir commented on #102
Hi,

so this is my configurations:
[code]
and i receive this error:
[code]
and storage location object exists:
![image](https://user-images.githubusercontent.com/9513799/93899512-122bb080-fcfd-11ea-86fd-e92e31e9cfca.png)

BTW, when running backup manually: `velero backup create test --storage-location aws` it works without any issues
someone know how to solve this?

[2020-09-28 08:16] michaelhaycroft commented on #28
I believe the reason this is happening is because the Helm chart is not setting the below environment variables on the pod spec. I could be wrong.
If you do a dry run of `velero install --dry-run -o yaml --provider "azure" --plugins "velero/velero-plugin-for-microsoft-azure" ... (etcetera) ` you will see these environment variables are specified.
[code]
The resultant deployment in my cluster does

[2020-09-29 12:55] cidsasaki commented on #157
@simran3695 I'm having the same issue. How did you solve? Thanks.

[2020-09-30 19:49] jaygorrell commented on #147
Any chance of getting a Helm release? 1.5 is needed for EKS IAM integration because it includes the aws-sdk version bump.

[2020-10-02 16:30] MaxymVlasov opened #167 "[bug] First install CRD's, then install resources that depends on CRD's"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)

1. Try to up Velero in new cluster using [this `values.yaml`](https://github.com/MaxymVlasov/helm-charts-1/blob/8a653ce4750d0ca7b579467f301192c04b48b17d/charts/velero/examples/vsphere/values.yaml) from #166
2. Run `helmfile -f helmfile.yaml diff` and `helmfile -f helmfil

[2020-10-05 06:23] jenting commented on #167
@MaxymVlasov please check #153 thanks.

[2020-10-05 06:26] jenting commented on #164
@vitobotta sorry for the late reply, could you please provide the previous helm chart version? thanks.

[2020-10-05 06:32] jenting commented on #158
I made a try on ArgoCD + Velero helm chart and I can't reproduce the issue :thinking:

[2020-10-05 06:36] jenting commented on #129
I believe the code https://github.com/vmware-tanzu/helm-charts/blob/83a634d/charts/velero/templates/deployment.yaml#L123-L125 have resolved the problem already, close this issue, feel free to reopen it if the issue happens again.

[2020-10-05 06:36] #129 closed

[2020-10-05 06:38] jenting commented on #49
@ajchiarello could you please file a PR for this enhancement if possible? thanks.

[2020-10-05 06:50] jenting commented on #25
I think this issue is similar to #161.

[2020-10-05 07:23] #122 closed

[2020-10-05 07:38] #161 closed

[2020-10-05 07:51] jenting commented on #147
helm chart `2.13.0` release https://github.com/vmware-tanzu/helm-charts/releases/tag/velero-2.13.0 :rocket:
Thanks to @svcua and all :tada:

[2020-10-05 07:51] #147 closed

[2020-10-05 07:58] jenting commented on #45
Hi @dirtbag, from the discussion thread I believe the issue got fixed already, close this issue.

[2020-10-05 07:58] #45 closed

[2020-10-05 08:12] vitobotta commented on #164
@jenting Hi, I can't remember - in the meantime I installed with the CLI binary instead of the helm chart.

[2020-10-05 20:39] sagor999 opened #168 "After upgrading to 2.13.2 (1.5.1 velero) backup location not found error"
**What steps did you take and what happened:**
Upgraded from helm chart version `2.12.17` to `2.13.2`.
Velero pod is now spitting out this into log:
[code]
Checked that backuplocations do exist in the cluster (and they were working just fine in previous release)

Tried to remove the chart, removed CRDs, re-install the chart. Checked that backuplocations were added back. And same error.
For some re

[2020-10-05 21:27] zubron commented on #168
This is definitely a confusing message, but does not indicate that there is an error with your setup. The messages comes from the BackupStorageLocation controller when it is verifying each of the backup locations. Each backup location has a frequency at which it should be verified and if enough time has passed since the last time it was verified, it will be verified again. While iterating over all

[2020-10-05 21:30] zubron commented on #168
Given that the issue with the wording is being tracked in that project, I am going to close this issue.

[2020-10-05 21:30] #168 closed

[2020-10-07 14:38] cidsasaki commented on #157
I'm having the same issue. How did you solve?

[2020-10-07 20:19] #151 closed

[2020-10-07 20:19] #167 closed

[2020-10-08 03:31] jenting commented on #25
I've tested it in Chart version `2.13.3` by `helm template`:

- according to #161, the service account annotation could be provided by YAML format.
- with the below configuration, the BSL has configured correctly with `kmsKeyName` and `serviceAccount`.
[code]

so, I think this issue has been resolved. cc @carlisia

[2020-10-08 03:46] jenting commented on #157
@vitobotta @cidsasaki are you use ArgoCD to deploy Velero?

[2020-10-08 14:16] cidsasaki commented on #157
@jenting yes, I'm using argoCD

tested the chart 2.12.16

testing 2.13.2

helm 2
kubernetesVersion: v1.15.12-rancher1-1
rancher
rancherOS

[2020-10-08 20:21] cidsasaki commented on #158
I have the same problem, argo does not install CRDs.

I did a test according to #146 , it also didn't work

Even with the newest version 2.13.3. I sought information on issues #153 / #157

We are using helm 2 with a tiller, available on argoCD, there is a version of argoCD that has helm 3, which I haven't tested yet.

[2020-10-08 21:55] igorcezar commented on #158
Which version of ArgoCD are you using?

Helm hooks, like post-install used on BackupStorageLocation CR, are [supported by ArgoCD only from v1.3](https://argoproj.github.io/argo-cd/user-guide/helm/#helm-hooks).

[2020-10-09 00:16] angelbulas commented on #102
Just in case someone still have issues with BackupStorageLocation CRD, I just wipe out my chart and remove manually all this creds because when you uninstall the chart does not remove them:

backups.velero.io
backupstoragelocations.velero.io
deletebackuprequests.velero.io
downloadrequests.velero.io
podvolumebackups.velero.io
podvolumerestores.velero.io
resticrepositories.velero.io
restores.velero.

[2020-10-09 00:56] jenting commented on #102
Thanks, it gives me the hint and I remember that helm did not perform upgrade CRDs during helm upgrade.

[2020-10-21 08:39] simran3695 commented on #158
@igorcezar Im using v1.6.0-rc

[2020-10-21 13:50] jenting commented on #164
close it, feel free to reopen once we have more information on this.

[2020-10-21 13:50] #164 closed

[2020-10-21 16:41] carlisia commented on #1
I am closing this, we can reopen if/when someone wants to add this documentation.

[2020-10-21 16:41] #1 closed

[2020-10-21 16:44] carlisia commented on #25
Thanks for investigating this @jenting!

[2020-10-21 16:44] #25 closed

[2020-10-21 16:53] carlisia commented on #28
cloud: |
    AZURE_SUBSCRIPTION_ID: #############################
    AZURE_TENANT_ID: #############################
    AZURE_CLIENT_ID: #############################
    AZURE_CLIENT_SECRET: #############################
    AZURE_RESOURCE_GROUP: #############################
    AZURE_CLOUD_NAME: AzurePublicCloud

Let's add the above snippet to the `values.yaml` file so people know how to forma

[2020-10-21 18:39] carlisia commented on #49
Hey @ajchiarello this is a good request. It's also the type of request that should be open on the Velero repo, since any new feature would be ported to the chart after it exists in Velero.

With all that said, we currently cannot have more than 1 replica of Velero running.

If the node goes down, the pod should just get rescheduled onto a new node. The Velero service doesn't really need to be runn

[2020-10-21 18:39] #49 closed

[2020-10-21 19:06] carlisia commented on #74
Hey everyone, apologies for not getting to this sooner. I suspect this is no longer relevant given the time lapsed. Please reopen if it's still an issue though, thanks.

[2020-10-21 19:06] #74 closed

[2020-10-21 19:51] carlisia opened #173 "restored secret differs from original causing helm to not recognise it"
@haroonb commented on [Wed Oct 21 2020](https://github.com/vmware-tanzu/velero/issues/3029)

**What steps did you take and what happened:**
We restored some secrets into a cluster and wanted to update a helm release. Upon trying to update we ran into the error.
`UPGRADE FAILED", "Error: kind Secret with the name \"keycloak-db\" in \"default\" already exists in the cluster and wasn't defined in the

[2020-10-23 01:25] jenting commented on #20
I think we could use `GITHUB_TOKEN` secret on behalf of release the helm chart by [github-actions](https://github.com/apps/github-actions), ref to https://docs.github.com/en/free-pro-team@latest/actions/reference/authentication-in-a-workflow

[2020-10-23 09:12] aristosvo opened #176 "Problems with configuring incremental snapshots with the Helm chart"
**What steps did you take and what happened:**

Helm install of Velero (Azure plugin) with Terraform with option `configuration.volumeSnapshotLocation.config.incremental=true`

After application of this an error showed up:
[code]

**What else did you try:**

Helm install of Velero (Azure plugin) with Terraform with option `configuration.volumeSnapshotLocation.config.incremental="\"true\""`, but th

[2020-10-23 09:12] aristosvo opened #250 "Problems with configuring incremental snapshots with the Helm chart"
**What steps did you take and what happened:**

Helm install of Velero (Azure plugin) with Terraform with option `configuration.volumeSnapshotLocation.config.incremental=true`

After application of this an error showed up:
[code]

**What else did you try:**

Helm install of Velero (Azure plugin) with Terraform with option `configuration.volumeSnapshotLocation.config.incremental="\"true\""`, but th

[2020-10-23 14:27] carlisia commented on #20
Ok, let's try. Let me know if you need anything.

[2020-10-23 14:29] carlisia commented on #176
This looks like it could be a bug in the chart.

[2020-10-23 15:44] aristosvo commented on #176
True. Specifying optional parameters in `/crds/volumesnapshotlocations.yaml` with the correct type or adding multiple types might fix it:
[code]

Possible solutions:
[code]

[code]

Any preference?

[2020-10-26 06:05] jenting commented on #176
Related to https://github.com/vmware-tanzu/velero-plugin-for-microsoft-azure/pull/52

According to https://github.com/vmware-tanzu/velero-plugin-for-microsoft-azure/blob/3d038eb/volumesnapshotlocation.md
[code]
I think the incremental adopts string type

However, the code expects it's a boolean type https://github.com/vmware-tanzu/velero-plugin-for-microsoft-azure/blob/3d038eb/velero-plugin-for-mi

[2020-10-26 06:06] jenting commented on #176
I think it's a bug in the microsoft-azure plugin.

[2020-11-08 19:31] pantelis-karamolegkos opened #180 "Helm installation uable to find the secret corresponding to GOOGLE_APPLICATION_CREDENTIALS"
**What steps did you take and what happened:**

I have installed a `velero` helm chart from the official [source](https://github.com/vmware-tanzu/helm-charts/tree/main/charts/velero).

I have also created the following secret:

[code]

When I `base64` decode the value of `GOOGLE_APPLICATION_CREDENTIALS` variable:

[code]

However, here is what I see in the logs of `velero`

[code]

**What did you

[2020-11-09 10:50] jenting commented on #180
@pantelis-karamolegkos Could you please check the Velero pod have the /credentials/cloud existed?

[2020-11-09 11:53] pantelis-karamolegkos commented on #180
I see this:

[code]

but when I exec into the pod:

[code]

I suppose the mount is somehow failing?

[2020-11-10 01:12] jenting commented on #180
I did not try to use the existing secrets before. But I think you could check that had you configure the `existingSecret: velero` in your values.yaml?

[2020-11-10 02:29] csgtree opened #181 "Add option in values.yaml to customize secret name"
**Describe the problem/challenge you have**
If we install velero server via helm chart instead of velero cli, the secret name is `{{ include "velero.fullname" . }}`.
However, the vSphere plugin requires the secret with name `cloud-credentials`. Or the vSphere plugin installation will fail.

**Describe the solution you'd like**
Add option in values.yaml to configure secret name separately.

**Anyth

[2020-11-10 04:40] jenting commented on #181
@csgtree good finding, would you mind create a PR for this? thanks.

[2020-11-12 19:33] martin2176 opened #182 "velero helm install does not use user provided service account"
What I intend to achieve:
I want velero to use the service account I precreated before the install. And the reason being I want to be able to assign a custom role to the service account (not cluster admin) .
kubectl --context=martin-aks1-admin -n ecom get sa
NAME        SECRETS   AGE
default     1         17m
velero-sa   1         56s
 I have given velero-sa the appropriate role via role binding

[2020-11-12 20:20] pantelis-karamolegkos commented on #180
Fixed, had to rename my secret to `cloud` and not `GOOGLE_APPLICATION_CREDENTIALS`

[2020-11-12 20:20] #180 closed

[2020-11-12 23:13] jenting commented on #180
Thanks for the finding 👍

[2020-11-13 02:29] jenting commented on #182
@martin2176
Please update your input parameter from
[code]
to
[code]

[2020-11-13 02:31] jenting commented on #182
I'm going to close it since I could verify the value of `serviceAccountName` is correct when I use `helm template` and the inputs you provided.

[2020-11-13 02:31] #182 closed

[2020-11-14 20:19] Slutzky commented on #168
hi @zubron
Seems to be that version 1.5.2 causing to a problem. All Backups stuck in progress state.
`velero-backup-application-20201114125750   InProgress   2020-11-14 13:57:50 +0100 CET   29d       gcp                <none>
 velero-backup-application-20201113125712   InProgress   2020-11-13 13:57:28 +0100 CET   28d       gcp                <none>
 velero-backup-kubedb-20201114125750        InPro

[2020-11-16 04:33] jenting commented on #168
@Slutzky could you please provides the helm install commands and the related values.yaml? Thank you.

[2020-11-16 07:17] Slutzky commented on #168
I'm using flux , so flux installs the velero by applying on the k8s the following "HelmRelease"

`---
apiVersion: helm.fluxcd.io/v1
kind: HelmRelease
metadata:
  name: velero
  namespace: velero
  annotations:
    fluxcd.io/automated: "false"
spec:
  releaseName: velero
  chart:
    repository: https://vmware-tanzu.github.io/helm-charts
    name: velero
    version: 2.12.17
  values:
    image:

[2020-11-18 08:50] #158 closed

[2020-11-18 09:10] jenting commented on #20
🤔 Not released, I'll look into it to check what's wrong.

[2020-11-19 07:36] jenting commented on #168
Could you please check the output of `velero backup-location get` and `kubectl get backupstoragelocations.velero.io`?
And I'd suggest bumping the velero-plugin-for-gcp plugin tag to v1.1.0.

[2020-11-19 07:41] Slutzky commented on #168
hi @jenting .

It seems problem is in new CRD they added a check from velero pod so velero pod checks if it is up then it marks it as available but because of flux and the lifecycle hook this gcp backupstoragelocation was always synced from flux , this means it would set the flag available as empty when it synced next run and available is only set at beginning in velero so velero cannot recover.

[2020-11-19 07:45] jenting commented on #168
@Slutzky good to know the main root cause, although I did not know how you resolve the issue. If possible, could you please elaborate more on how you fix the issue? Thank you.

[2020-11-19 08:19] Slutzky commented on #168
sure,  I'm using Flux to install velero, I added
`enableHelmHooks: false` into the velero.yaml file.

[code]

https://docs.fluxcd.io/projects/helm-operator/en/1.0.0-rc9/references/helmrelease-custom-resource.html#configuration

[2020-11-19 08:23] jenting commented on #168
Thank you, so this is related to #171

Thank you, so this is related to #171

[2020-11-20 09:23] #20 closed

[2020-11-20 09:28] jenting commented on #20
It works, @carlisia you could remove your personal token now 😏

[2020-11-20 09:51] aristosvo opened #187 "Release notes Helm chart"
**Describe the problem/challenge you have**
I've no idea what is released in the new version (2.13.7) of the Helm chart.

**Describe the solution you'd like**
Is it possible to add release notes for the Helm chart? Just a simple overview of the features added/enhanced in the new version.

[2020-11-20 10:27] adamrushuk commented on #187
I was about to raise this myself.
I do quite like seeing the diff between releases to see the exact changes, but it would also be nice to see a proper `CHANGELOG.md` to capture a summary of the main changes.

I see many projects adopt this `CHANGELOG.md` format: https://keepachangelog.com/en/1.0.0/

[2020-11-24 08:41] #181 closed

[2020-11-24 08:49] jenting commented on #187
cc @carlisia

[2020-11-24 20:29] caiobegotti commented on #44
What's the current supported and correct way of instaling the Helm chart with the CRDs? Right now if I render the chart I get no CRDs with a `helm template` (this way I can store it in my Git repository). Does it only installs CRDs if I use `helm install`? I tried installing the CRDs with the Velero CLI as suggested here but that's very sub-optimal and I can'get quite get it to work with Kustomize

[2020-11-25 00:56] jenting commented on #44
@caiobegotti I assume you're using helm3, please add `--include-crds` flag to display CRDs in the templated output.

[2020-11-26 07:12] sagar-jadhav opened #189 "Velero installation failing with Error: unknown field "dnsPolicy" in io.k8s.api.core.v1.Container"
**What steps did you take and what happened:**

1. Install Velero

[code]
The above command exited with an error.

**What did you expect to happen:**
Velero should install successfully using Helm Chart

**The output of the following commands will help us better understand what's going on**:
(Pasting long output into a [GitHub gist](https://gist.github.com) or other pastebin is fine.)

[code]

**An

[2020-11-26 14:38] damoon commented on #189
this happens because the dnsPolicy was added on the wrong indentation.
it needs to be in pod level on on container level.

[2020-11-27 03:16] #189 closed

[2020-11-27 04:55] sagar-jadhav commented on #189
Thank you @damoon , @jenting

[2020-11-30 19:50] carlisia commented on #187
Hey everyone, thanks for the idea and example. Let me think about that. The Velero repo uses the https://keepachangelog.com/en/1.0.0/ suggested changelog system. But the Helm chart... it changes so frequently, even a typo fix requires a version bump.

[2020-11-30 20:18] nrb commented on #187
Thanks for this request - I totally agree that this is something we need to surface.

As Carlisia says, Helm's versioning requirements are heavyweight, so I'd like for us to look into automating this via Git logs versus using changelog files. Those are heavyweight for contributors and maintainers alike, and I'd like to keep the process as smooth as possible.

[2020-12-01 21:40] ablts opened #191 "Helm installation can't connect to DigitalOcean S3"
**What steps did you take and what happened:**
Can't connect to a DigitalOcean Space (S3) if velero is installed with helm chart. It works fine when installed with the velero CLI.

**What did you expect to happen:**
Velero connecting to the S3 even whether it's installed via the helm chart.

**The output of the following commands will help us better understand what's going on**:

If installed this

[2020-12-02 02:41] jenting commented on #191
@ablts I've no clue on this :thinking:
perhaps you could try passing the credential from the file when helm install by pass the flag instead of using the existing secret
[code]

[2020-12-02 03:08] ablts commented on #191
@jenting nope, same error than before, and I'm using the same creds file that is working with the velero install way

[2020-12-02 03:11] jenting commented on #191
Could you please change the provider name from `provider: velero.io/aws` to `provider: aws` in values.yaml? Thank you.

[2020-12-02 03:21] ablts commented on #191
@jenting it works ! but I don't really get why the velero.io/ is working with the velero cli but not the helm install ?
Anyway, thanks a lot !

[2020-12-02 03:27] jenting commented on #191
Well, I don't know we could pass the provider with the prefix `velero.io/` on velero CLI install.
Refer to https://velero.io/docs/v1.5/contributions/minio/#set-up-server

[2020-12-02 03:27] #191 closed

[2020-12-16 13:09] sharaddumoliya commented on #102
I am also getting error:
**Validation errors: a BackupStorageLocation CRD with the name specified in the backup spec needs to be created before this backup can be executed. Error: BackupStorageLocation.velero.io "default" not found**

But I can see crds:

[ec2-user@bastion ~]$ velero backup-location get
NAME      PROVIDER   BUCKET/PREFIX         ACCESS MODE
aws       aws        velero-msra-backups

[2020-12-16 14:42] jenting commented on #102
Are you using GitOps tool like ArgoCD or Flux?

[2020-12-16 15:06] carlisia commented on #102
Hey everyone. There's a lot of chatter in this issue. I'm going to give a general troubleshooting solution.

Assuming you have v1.5.

Update your Velero CRDs:
v install --crds-only --dry-run -o yaml | kubectl apply -f -

After this, create or recreate your BSL. Do `velero get backup-locations`. If in the `PHASE` column you see that the BSL is marked as `Available`, then all is good. Otherwise, the

[2020-12-16 15:08] carlisia commented on #102
For anyone having issues with "default" BSL, please see this explanation of what Velero expects: https://github.com/vmware-tanzu/helm-charts/issues/102#issuecomment-663257541.

[2020-12-17 14:59] machine424 opened #195 "Get Prometheus-operator's servicemonitor back"
Hello,

The support of Prometheus-operator's servicemonitor support was dropped [here](https://github.com/vmware-tanzu/helm-charts/commit/ed282ba70c2b63ce0e44e2ecd23ad3c175762a4c) and [here](https://github.com/vmware-tanzu/helm-charts/commit/a9f8d6112185e2921fb1658b84c0f61f3c9aa17a),

I would like to know if it is possible to get servicemonitor back, or at least [podmonitor](https://github.com/pro

[2020-12-17 15:50] carlisia commented on #195
I think we've heard this request enough that we should consider it. @jenting would you be onboard with putting this back?

[2020-12-18 09:27] #28 closed

[2020-12-18 14:51] #195 closed

[2020-12-18 14:52] carlisia commented on #195
@machine424 we reverted the removal.

[2020-12-18 14:53] carlisia commented on #134
Hey @mdarii, we reverted the removal.

[2020-12-19 06:32] jenting opened #197 "`helm upgrade` does not upgrade the CRDs"
**What steps did you take and what happened:**

When performs `helm upgrade`, the Velero CRDs do not upgrade.

[code]

**What did you expect to happen:**

The CRDs be upgraded when performing `helm upgrade`.

**The output of the following commands will help us better understand what's going on**:

N/A

**Anything else you would like to add:**

N/A

**Environment:**

- helm version (use `helm versi

[2020-12-19 06:35] jenting commented on #44
Close the PR because we wrapper the way to install/upgrade CRDs by the `velero install --crds-only --dry-run -oyaml`, this makes `helm template` display the CRDs manifest not work anymore.

Open a new issue to address the `helm upgrade` does not upgrade the CRDs manifest, close it.

[2020-12-19 06:35] #44 closed

[2020-12-19 18:41] carlisia commented on #197
This would be a maintenance nightmare.

This seems reasonable. The thing that I'm wondering is how to specify what version to upgrade to when doing `helm upgrade`. Will it always means upgrade to latest?

[2020-12-21 01:31] jenting commented on #197
The thing that I'm wondering is how to specify what version to upgrade to when doing `helm upgrade`. Will it always means upgrade to latest?

By default, helm will upgrade to the latest unless the user provided the chart version to the `helm upgrade --version=<specific_chart_version`.
BTW, the user has to run `helm repo update` before helm install/upgrade to get the latest release chart.

[2020-12-22 07:05] machine424 commented on #195
@carlisia, great, thanks  for your comprehension.

just one last point: It seems more logical to me to have `scrapeInterval` under the stanza `metrics.serviceMonitor` as it sets a field of the servicemonitor.

I can create a PR for that, but I think (I assume the chart complies to semver like velero does) we'll need to ensure backward compatibility or keep that for the next major version bump.

[2020-12-22 08:46] jenting commented on #195
@machine424 any PR is welcome~

[2021-01-08 18:14] krogebry opened #200 "Docker hub rate limiting requires imagePullSecrets"
**Describe the problem/challenge you have**
As an org, we're hitting the dockerhub rate limit issue, which is preventing us from pulling down *any* images from dockerhub.

**Describe the solution you'd like**
Adding imagePullSecrets to container spec.

**Anything else you would like to add:**
The assumption that dockerhub will always be there seems sound.  I think this problem is new enough that p

[2021-01-08 18:17] #200 closed

[2021-01-08 18:17] krogebry commented on #200
Nevermind, didn't see it on the docs on in the chart until I actually pulled it down.

[2021-01-18 21:39] Makovec opened #203 "Any plan to update API version to v1?"
Hi,
please.

**Describe the problem/challenge you have**
When running `helm` with latest minikube configuration:

[code]

I receive warnings and nothing happen:

[code]
**Describe the solution you'd like**
I'd like to have CRDs updated to v1.

**Environment:**

- helm version (use `helm version`): Version:"v3.4.0"
- helm chart version and app version:
  - helm3 (use `helm list -n <YOUR NAMESPACE>`

[2021-01-19 14:56] franklin432 opened #204 "Integrating vmware-tanzu/helm-charts/velero into another chart for scheduled backups of the database."
I wanted to know if its possible for me to integrate velero functionality into a database related chart such as mongodb or postgres. How would you go about doing this as I would like to test this.
Thanks.

**What steps did you take and what happened:**
None so far. Still planning it out.

**What did you expect to happen:**
Install the bitnami/charts/postgresql or bitnami/charts/mongodb with Velero

[2021-01-21 12:51] cpanato opened #206 "Drop Helm v2 support and use Helm v3"
**Describe the problem/challenge you have**
Helm v2 is EOL since November 2020, there is no more support and users should migrate to helm v3

Items we need to do in the repo to remove the support

- [x] Remove the github action job for helm v2
- [x] migrate the chart to be 100% helm v3 (Done already!)
- [x] write a readme to alert users that helm v2 is removed

/cc @carlisia @jenting

[2021-01-22 01:19] jenting commented on #203
Thank you for the reporting, we will investigate how to check the kube-apiserver to support both v1beta1 and v1 version.
Also, to have a default version (v1beta1 maybe).

[2021-01-22 01:24] jenting commented on #204
I didn't have this experience before, but I believe someone in the community has the answer for you.

[2021-01-23 15:15] martinezleoml opened #207 "`generated` field on vmware-tanzu repository's index.yaml manifest doesn't get updated"
**What steps did you take and what happened:**
We're using fluxcd.io (v2) to automate our helm release deployments & upgrades.
Flux regularly watches vmware-tanzu helm repository (by fetching https://vmware-tanzu.github.io/helm-charts/index.yaml manifest) and relies on the `generated` field to determine if the repository got updated. If it's the case, flux downloads latest charts and updates accor

[2021-01-23 15:44] martinezleoml commented on #207
Seems to be related with this issue from chart-releaser: https://github.com/helm/chart-releaser/issues/90

[2021-01-26 03:48] carlisia commented on #206
Yeay for this! 🎉

[2021-01-29 12:55] vnktram opened #209 "Unable to provide --default-volumes-to-restic flag to helm deployment"
**What steps did you take and what happened:**
helm install with a values.yaml file does not allow for `--default-volumes-to-restic` flag to be provided

**What did you expect to happen:**
Provision to allow `--default-volumes-to-restic` as a configuration parameter.

**The output of the following commands will help us better understand what's going on**:
(Pasting long output into a [GitHub gist](

[2021-02-02 07:08] #209 closed

[2021-02-11 06:18] tapanhalani opened #216 "Velero helm release marks backup "failed" even after backing up all items successfully"
**What steps did you take and what happened:**
I have installed velero helm chart in AKS cluster, and configured azure plugin with it for backup and volumeSnapshots. The backups start according to the schedule set, and according to velero logs, I can see all k8s objects are successfully backed-up, and snapshots of volumes are created succcessfully in Azure RG. But the backup object in k8s is itsel

[2021-02-17 03:29] jenting commented on #216
@tapanhalani
From the log, the problem is Velero server can't found the default backup storage location. Please consider renaming the existed backup storage location "azure" to "default".

[2021-02-18 12:23] tapanhalani commented on #216
@jenting Thank you for your response. But the issue persists even after changing the name from "azure" to  "default". Also, the log "Checking for existing backup locations ready to be verified" is an info log, whereas the "Backup failed" log is an error log, which seems to me like the former log is expected periodically (maybe to see if any new backup location is updated, and needs to be verified)

[2021-02-18 12:28] jenting commented on #216
Could you please run `velero backup-location get` to check your backup storage location is accessible from Velero server?

[2021-02-18 12:36] tapanhalani commented on #216
@jenting Here is the output of the above command:

[code]
On another note, I had some backups (with status: failed, but done to completion) with version 2.11.0 of helm chart already existing in the cluster. When I upgraded the release to 2.14.8, I had to re-install CRDs along with it, which deleted those backups from k8s cluster (though not from the azure storage account and Azure volume-snapshot

[2021-02-19 16:12] vzabawski opened #219 ""s3ForcePathStyle" entry gets duplicated with AWS plugin"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)

I add Velero chart configuration to my values.yaml:

[code]

Rendered yaml contains duplicated entries:
[code]
Quoting `true` in values.yaml doesn't change the behavior, it just creates 2 entries, where each `true` is quoted.

**Environment:**

- helm version (use `helm

[2021-02-22 02:27] jenting commented on #219
@vzabawski Thank you for reporting this. If you like, could you file a PR to addressing this? Thank you.

[2021-02-22 16:13] vzabawski commented on #219
I suggest [removing the part that quotes](https://github.com/vmware-tanzu/helm-charts/blob/main/charts/velero/templates/backupstoragelocation.yaml#L30-L32) `true` since it's plugin-specific config and add a warning to plugin configuration example about `s3ForcePathStyle`, that it should be quoted. I don't see any other simple solution, to be honest. :)

[2021-02-22 16:25] vzabawski opened #220 "BackupStorageLocation is created before CRD"
**What steps did you take and what happened:**
I'm using Velero with AWS plugin. Here's my values.yaml:

[code]

**What did you expect to happen:**
Velero should be deployed, but instead, I receive the following error:

[code]

**Environment:**

- helm version (use `helm version`):
version.BuildInfo{Version:"v3.5.2", GitCommit:"167aac70832d3a384f65f9745335e9fb40169dc2", GitTreeState:"dirty", GoVer

[2021-02-23 14:15] vzabawski commented on #220
The issue occurs only when running `helm upgrade --install` instead of `helm install`, so it's related to Helm behavior, not to chart itself.

[2021-02-23 14:15] #220 closed

[2021-02-23 14:59] jenting commented on #220
Thank u, it's more like helm upgrade issue.

[2021-02-24 08:42] jenting commented on #219
Yes, I agree with you.
But wouldn't this break the existing plugin behavior and force the user _must_ upgrade the plugin version :thinking: ?

[2021-02-24 08:44] jenting commented on #207
The new version https://github.com/helm/chart-releaser/releases/tag/v1.2.0 released, we should update CI to make the `generated` field be updated.

[2021-02-24 08:47] vzabawski commented on #219
To be honest, I can't be sure, but from what I see, the example shows that the value should be wrapped in double quotes: https://github.com/vmware-tanzu/velero-plugin-for-aws/blob/main/backupstoragelocation.md

[2021-02-24 13:14] jenting commented on #219
May I said that if the user existing configuration with
[code]
after this PR merged and the user performs `helm upgrade` or `helm install` with the existing configuration, it would break the velero can't access the s3-compatible provider?

[2021-02-24 13:55] vzabawski commented on #219
I guess so. At the same time, duplicated entries do not block the deployment since duplicated keys are dropped in k8s. At least, deployed `backupstoragelocation` resource does not contain duplicated keys.

[2021-02-24 13:58] jenting commented on #219
I'd prefer not to change this. /cc @carlisia WDYT?

[2021-02-24 14:53] #207 closed

[2021-02-25 01:34] jenting commented on #207
I had verified that the latest release, `generated` field gets updated :tada:

[2021-02-25 04:34] tapanhalani commented on #216
@jenting I have managed to resolve the above issue after upgrading the resource limits of my velero instance from 50mcpu/200Mi memory to 1cpu/2Gi memory, as per findings in this issue: https://github.com/vmware-tanzu/velero/issues/1856 .

[2021-02-25 04:50] jenting commented on #216
Thank u @tapanhalani, good to know.

[2021-02-25 04:50] #216 closed

[2021-03-02 07:30] talha0324 commented on #168
Hey, I'm using latest helm release v2.14.12 and still seeing this error,
velero v1.5.3
restic enabled

[2021-03-02 10:37] jenting commented on #168
Are you install Velero helm chart fresh install or perform the upgrade?
If you perform the upgrade, remember that `helm upgrade` won't upgrade the CRD manifest, you have to install the velero v1.5.3 client and run `velero install --crds-only --dry-run -o yaml | kubectl apply -f -`.

[2021-03-02 17:12] talha0324 commented on #168
I did the fresh install.
I also tried to make template out of helm charts and individually apply everything. But I still got the same error

[2021-03-03 06:16] jenting commented on #168
Could you please provide more information? Like `velero backup-location get` and also the log of Velero server Pod, thank u.

[2021-03-03 06:49] talha0324 commented on #168
velero backup-location get -n openshift-velero
[code]

Velero Server logs
[code]

[2021-03-05 19:22] #206 closed

[2021-03-06 01:56] carlisia commented on #219
Yes, I'm inclined to leave this alone. We can leave it open and clean it up if/when there's an inevitable change that brakes backwards compatibility.

Thanks for the effort tho, @vzabawski 👍

[2021-03-08 21:52] patrickheinzelmann commented on #168
I've installed Velero for the first time and my logs are also filled with the  following ouputs.

[code]

Here is the info from `velero backup-location get`

[code]

[2021-03-09 09:01] bayerb opened #230 "Pod volume backup failed"
**What steps did you take and what happened:**
After setting up velero on AKS, and running the command:
`velero backup logs balazs-teszt-backup4`

the backup is in PartiallyFailed phase, and the logs show the following error:

`velero backup logs balazs-teszt-backup4|grep error

time="2021-03-09T08:32:13Z" level=info msg="1 errors encountered backup up item" backup=velero/balazs-teszt-backup4 logS

[2021-03-09 09:57] talha0324 commented on #168
Hey @patrickheinzelmann , I figured that this log message doesn't prevent velero from creating a backup. I'm having this log but my backups are being created successfully.

[2021-03-09 10:10] patrickheinzelmann commented on #168
My problem is that Velero is creating the the folder and the log file, but isn't creating the data of the backup.

It worked only once, all other attempts to backup a namespace failed.

![velero](https://user-images.githubusercontent.com/578630/110454555-ab8e2980-80c7-11eb-90ee-f694696d0ede.png)

[2021-03-09 10:11] #230 closed

[2021-03-09 10:12] bayerb commented on #230
Not helm chart related issue.

[2021-03-09 10:23] patrickheinzelmann commented on #168
I looked into the error log of the backup creation and the Velero POD.

[code]
But I can't find any error message beside the backup location messages.

[velero-default-202109031015.log](https://github.com/vmware-tanzu/helm-charts/files/6107755/velero-default-202109031015.log)

[2021-03-09 10:25] patrickheinzelmann commented on #168
@talha0324 I agree that the problems seems not related to the backup location, but this is the only message I can see in the log file.

[2021-03-09 16:06] dsu-igeek commented on #168
It looks like you're using the Azure plug-in.  There was an issue where the Azure plug-in needed more memory than we were giving to the Velero containers by default.  That was corrected in 1.5.3 and the amount of memory was increased to 512M but I don't see anything in the Helm charts that sets the amount of memory.

There is some info in the PR about the error messages you would see.  https://git

[2021-03-09 17:26] patrickheinzelmann commented on #168
@dsu-igeek The memory is limited to 256Mi.

[code]

I followed the installation guide for the Azure Plugin. https://github.com/vmware-tanzu/velero-plugin-for-microsoft-azure#setup. However the increasing of the memory wasn't mentioned.

[2021-03-09 20:16] dsu-igeek opened #231 "Velero pod should have 512Mi for the memory limit"
The limit for the Velero pod was bumped in release 1.5.3 from 256Mi to 512Mi due to crashes in the Azure plug-in with the smaller limit (https://github.com/vmware-tanzu/velero/issues/3234).  The Helm charts appears to be installing with the old limit (https://github.com/vmware-tanzu/helm-charts/issues/168)

[2021-03-09 20:17] dsu-igeek commented on #168
It's fixed in the main Velero install in rev 1.5.3.  The Helm chart is not setting the resource limit properly.  I added an issue for the Helm chart - https://github.com/vmware-tanzu/helm-charts/issues/231

[2021-03-10 09:48] patrickheinzelmann commented on #168
@jenting Yes, after increasing the memory the backup data will be uploaded to the Azure Storage.

[2021-03-12 19:33] Ahmadre opened #234 "[Support]: IONOS S3 connection - InvalidAccessKeyId"
**What steps did you take and what happened:**

I needed to connect to the IONOS S3 Bucket and it's working fine if you try it with Postman, but If I try to put the credentials into the values.yaml I always get:

### Error-Message
<details><summary>Click To Expand</summary>

[code]

</details>

In the following your can the value I setup:

### Value.yaml
<details><summary>Click To Expand</summary>

[2021-03-13 01:39] Ahmadre commented on #234
Resolved: https://github.com/vmware-tanzu/velero/issues/3581#issuecomment-797825745

[2021-03-13 01:39] #234 closed

[2021-03-13 04:11] dmitry-mightydevops opened #235 "Does my velero 1.5.3 / chart 2.15.0 is working as expected after being installed in argocd?"
**What steps did you take and what happened:**

First I have setup velero via manual helm
[code]
Tuned some values
Saw the backups successfully pushed into aws s3 bucket
deleted the backups
[code]
Deleted the helm
[code]

Created installation with argo-cd app of apps and pushed to argocd via
[code]

However that installation produced NO backups (I thought immediately the backup will be created) li

[2021-03-15 03:41] jenting commented on #235
After Velero deploys by ArgoCD, is the schedule custom resource (CR) available?
[code]

Furthermore, is manual backup works?
[code]

[2021-03-15 22:00] isaac88 commented on #203
@jenting I'm currently using Kubernetes 1.19
Do you know if it's safe to make the upgrade the velero crd from apiextensions.k8s.io/v1beta1 to apiextensions.k8s.io/v1 ?

Thanks

[2021-03-16 07:31] jenting commented on #203
At Kubernetes 1.19, the kube-apiserver preferred version is `apiextensions.k8s.io/v1`.
The Kubernetes supports conversion between different API versions https://book.kubebuilder.io/multiversion-tutorial/conversion-concepts.html. So, `apiextensions.k8s.io/v1beta1` will convert to `apiextensions.k8s.io/v1` by kube-apiserver webhook.

If we want to change to CRD manifest, we have to change this line

[2021-03-23 15:08] johnjbateman opened #237 "Error patching backup location's last-synced time. <backupStorageLocation.name> not found"
**What steps did you take and what happened:**
Installed latest velero helm chart, deployed to AKS.  Backup location status is Unknown.  Errors in the pod logs.

**What did you expect to happen:**
Backup location is ready

**The output of the following commands will help us better understand what's going on**:

helm install:
[code]

[code]
[code]
trying to get the logs of the backup:
[code]
[code]

[2021-03-23 15:57] johnjbateman commented on #237
Closing.  fixed right after I posted this.

[2021-03-23 15:57] #237 closed

[2021-04-01 16:47] cabrinha opened #241 "IAM Roles for Service Accounts in cn-north-1: Incorrect token audience"
**What steps did you take and what happened:**
[code]

**What did you expect to happen:**

**The output of the following commands will help us better understand what's going on**:
(Pasting long output into a [GitHub gist](https://gist.github.com) or other pastebin is fine.)

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:*

[2021-04-01 16:50] #241 closed

[2021-04-04 21:17] aaadipopt opened #242 "Helm values for installing with workload identity service account"
**What steps did you take and what happened:**
I succesfully install the velero server using
`velero install \
    --provider gcp \
    --plugins velero/velero-plugin-for-gcp:v1.2.0 \
    --bucket $BUCKET \
    --no-secret \
    --sa-annotations iam.gke.io/gcp-service-account=[GSA_NAME]@[PROJECT_ID].iam.gserviceaccount.com \
    --backup-location-config serviceAccount=[GSA_NAME]@[PROJECT_ID].iam.g

[2021-04-06 08:58] jenting commented on #242
@aaadipopt,
If I remember correctly, you have to double-quote the `[GSA_NAME]@[PROJECT_ID].iam.gserviceaccount.com`.
Could you please try save the result of `helm template -f values.yaml` and double quote the `[GSA_NAME]@[PROJECT_ID].iam.gserviceaccount.com`and run `kubectl apply -f` to see if that will work? Thank you.

[2021-04-06 10:09] aaadipopt commented on #242
it's the same

If I install it w. `velero install` cli I get some error for [unavailable backup location](https://gist.github.com/aaadipopt/5df93eb829dcbb25074588c6415780ef) but the backups are working good.

[This](https://gist.github.com/aaadipopt/f467df7dd1015b15fdf9045dd26db1db) is the resulting yaml file from `helm template` and if I apply to the `default` namespace I got: https://gist.github

[2021-04-06 10:50] jenting commented on #242
No worries, it's a log on the update status, and it'll fix in the v1.6.0 if I remember correctly.

Please make sure the serviceAccount also quoted, that is, `serviceAccount: "velero@my-project.iam.gserviceaccount.com"`.

This is the RBAC error, are you using an existing service account? Or use helm chart created service account?

[2021-04-06 12:21] aaadipopt commented on #242
the `k describe BackupStorageLocation default -n velero` and `k describe ServiceAccount velero -n velero` have the same output for both cases - `cli install` and `kubectl apply -n velero -f helm_template.yaml`

[2021-04-06 14:41] jenting commented on #242
Which velero CLI version you are using? `velero version  --client-only`

I did compare the rendered yaml manifest with `velero install` and `helm template` but I did not see any outstanding difference on these two.

But perhaps this two commands would help you after `helm install` (ref to #25)
[code]

[2021-04-06 15:52] aaadipopt commented on #242
me neither ... and patch command says: `serviceaccount/velero-server patched (no change)` / `backupstoragelocation.velero.io/default patched (no change)`

[2021-04-07 15:34] irizzant commented on #219
If the yaml rendered by the Helm chart is then given as input to kustomize version 3.9 and later, kustomize fails with:
[code]

[2021-04-09 01:50] jenting commented on #242
@xUnholy, would you mind helping on this ^^ ? Since I saw you file a PR to fix an issue related to this.

[2021-04-09 01:54] jenting commented on #219
@irizzant Thanks for the reporting, would you mind provides the kustomize command on how to apply the manifest to us? This would make us easier to understand it. Thank you.

[2021-04-09 02:51] jenting commented on #203
Ref to https://github.com/vmware-tanzu/velero/pull/3614#issuecomment-805040541

[2021-04-09 15:19] irizzant commented on #219
@jenting
I use the following `values.yaml`
[code]
And generate an upstream configuration like this with helm:
`helm template velero --namespace velero -f values.yaml --include-crds vmware-tanzu/velero > base/upstream.yaml`

Then I just run `kustomize build base` and I get that error.

[2021-04-10 01:01] jenting commented on #219
@irizzant Thank you. I filed a PR to address it, if you like, please try it 🙏

[2021-04-11 12:04] xUnholy commented on #242
Based on the fact you're getting a 403 it looks like you have potentially a mismatch between the GSA and the KSA - with either means the name of the default service account in your binding is wrong or the service account name in your chart values is wrong.

[2021-04-12 20:20] irizzant commented on #219
@jenting looks like your PR with the `values.yaml` reported [here](https://github.com/vmware-tanzu/helm-charts/issues/219#issuecomment-816758549) generates:

[code]
Which as you can see has only one `s3ForcePathStyle` entry, so it looks good to me thanks

[2021-04-15 11:24] tobiasgiese opened #247 "CRDs are not in sync with `velero` v1.6.0"
**What steps did you take and what happened:**

After deploying the latest `velero` version v1.6.0 with the helm-chart, we discovered that the CRDs are not the ones from the velero repository.
Is it intended, that CRDs are not the same? Or is there some sync script?
At least `spec.subresources` of the CRD `downloadrequests.velero.io` is missing.

**What did you expect to happen:**

That the CRDs f

[2021-04-15 12:50] jenting commented on #247
Oops, I forgot to make the CRDs in sync 🙀

[2021-04-15 23:26] #247 closed

[2021-04-16 08:56] mxs631 opened #249 "GCP PV Snapshot - Custom Tag is not transformed to labels for scheduled backup instead getting updated in description"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)
Deployed the velero backup using helm chart.
Added the custom tag under Labels in the values.yaml .
The snapshot gets created without the labels.
The custom tag we add

# Backup schedules to create.
# Eg:
# schedules:
#   mybackup:
#     labels:       <=====Added the labe

[2021-04-19 13:47] mxs631 commented on #249
@carlisia Looking for some assistance on this issue, on whether it is gcloud issue or plugin issue.
Thanks in advance.

[2021-04-19 15:20] jenting commented on #249
Could you please check the label is added to the schedule custom resource (CR)?

[2021-04-19 15:23] mxs631 commented on #249
@jenting

IT is added to the schedule CR

[code]

[2021-04-19 15:51] jenting commented on #249
Is the latest Velero + GCP plugin solves the problem you met?

[2021-04-19 15:57] mxs631 commented on #249
@jenting :- No, unfortunately , it didnot, it is still existing.

[2021-04-20 02:38] jenting commented on #249
I'm quite sure now if the Velero server did not pass the schedule label to the plugin?
I check the GCP plugin [code](https://github.com/vmware-tanzu/velero-plugin-for-gcp/blob/v1.2.0/velero-plugin-for-gcp/volume_snapshotter.go#L203-L224) and it seems like the tags passed and are embedded into the [Description](https://github.com/vmware-tanzu/velero-plugin-for-gcp/blob/v1.2.0/velero-plugin-for-gcp/

[2021-04-20 08:07] mxs631 commented on #249
@jenting :-

------
 - apiVersion: velero.io/v1
  kind: Backup
  metadata:
    annotations:
      helm.sh/hook: post-install,post-upgrade
      helm.sh/hook-delete-policy: before-hook-creation
      velero.io/source-cluster-k8s-gitversion: v1.18.16-gke.502
      velero.io/source-cluster-k8s-major-version: "1"
      velero.io/source-cluster-k8s-minor-version: 18+
    creationTimestamp: "2021-04-20T

[2021-04-20 08:27] jenting commented on #249
Everything looks well.

To make sure again, so the GCP snapshot description does not include the tags `id=15`, `env=dev, and `app=foo`?

Sorry, I don't have a GCP account to test it, probably you could ask the question to https://github.com/vmware-tanzu/velero/discussions.

[2021-04-20 08:30] mxs631 commented on #249
@jenting :- The Snapshot description has the labels but not the actual labels in the snapshot in GCP Console.
![image](https://user-images.githubusercontent.com/68432594/115364153-02a11700-a1bb-11eb-89ce-5d829a689849.png)

[2021-04-20 08:48] mxs631 commented on #249
@jenting Opened a discussion here,
https://github.com/vmware-tanzu/velero/discussions/3704

[2021-04-20 13:17] sharkymcdongles opened #251 "Add ability to set default backupstoragelocation"
**Describe the problem/challenge you have**
1.6.0 introduced a default setting to the crd:

https://github.com/vmware-tanzu/helm-charts/blob/main/charts/velero/crds/backupstoragelocations.yaml#L26

They say to set this flag via velero cli, but this is not good practice if chart can do it for us by exposing this under the configuration.backupStorageLocation block.

**Describe the solution you'd lik

[2021-04-20 13:39] sharkymcdongles commented on #251
I found a workaround for now to those that are interested via an initContainer, but I am sure we can do this in a cleaner way:

[code]

[2021-04-20 14:23] jenting commented on #251
You should be able to configure the BSL as the **default** like this

[code]

[2021-04-20 14:26] #231 closed

[2021-04-20 14:33] sharkymcdongles commented on #251
The way the templating is set, if the default isn't explicitly referred to from the values like you suggested it won't be templated into the final resource:
https://github.com/vmware-tanzu/helm-charts/blob/main/charts/velero/templates/backupstoragelocation.yaml

Ideally this chart should move to a non hardcoding setup where it takes all keys under the backupStorageLocation block then places it the

[2021-04-20 14:34] sharkymcdongles commented on #251
FYI: for my fix to work this needs to be merged or CRDs upgraded manually as the chart fails to do so for you:

https://github.com/vmware-tanzu/helm-charts/pull/246

[2021-04-20 14:41] jenting commented on #251
I had a PR for this https://github.com/vmware-tanzu/helm-charts/pull/243 😉

[2021-04-20 14:43] #250 closed

[2021-04-20 15:07] #219 closed

[2021-04-21 01:45] jenting commented on #251
The PR merged and release along with 2.18.2.
If no further concern, I think this issue could be closed?

[2021-04-21 02:15] carlisia opened #253 "Change GH Action to auto add reviewers to PRs"

[2021-04-21 04:25] jenting commented on #253
It's there already, isn't it?
https://github.com/vmware-tanzu/helm-charts/blob/main/.github/workflows/auto_assign_prs.yml
https://github.com/vmware-tanzu/helm-charts/blob/main/.github/auto_assign.yml

[2021-04-21 15:05] carlisia commented on #253
Yes, you are right!

I want to change it to use a new one we added to the Velero repo, after it starts working properly. Hopefully this PR will make it work: https://github.com/vmware-tanzu/velero/pull/3712.

[2021-04-22 00:05] #197 closed

[2021-04-22 04:17] badalk opened #254 "How can i create helm release with multiple backup storage locations?"
**What steps did you take and what happened:**

I am trying to install velero with multiple backup storage locations, each having its own service principal with Azure provider.

**What did you expect to happen:**

 Is this possible to do so with helm chart. If not what is the alternative? Current process to do so requires mounting the volumes with secrets (embedding the service principal details a

[2021-04-22 08:30] jenting commented on #254
I think we should revisit PR #51 again.

[2021-04-22 15:31] koalalorenzo opened #256 "Restic Daemonset unschedulable after upgrade to 2.19.0"
**What steps did you take and what happened:**
After deploying the latest version `2.19.0` (previously was `2.17.1`), some of the pods (not all of them) deployed by the rustic DaemonSet are unschedulable with the error:

[code]

We had the same issue with a brand new deployment with `2.19.0`.

**What did you expect to happen:**

I did expect the helm release to deploy successfully.

**Environment:

[2021-04-22 15:48] koalalorenzo commented on #256
We tried to downgrade to `2.18.2` and `2.17.2` with the same result.

[2021-04-23 01:08] jenting commented on #256
I think it possibly due to we increase the default CPU/memory requests and limits #232.
Ref to https://velero.io/docs/v1.6/customize-installation/#customize-resource-requests-and-limits
You could decrease the default CPU/memory requests and limits to make it work.

[2021-04-23 07:36] koalalorenzo commented on #256
@jenting Thanks for your reply!
Sadly the Node had 13GB of free memory and 4 CPU cores... which is why we raised this issue!

[2021-04-23 08:57] jenting commented on #256
Did decrease the CPU/Memory request/limit solves the problem?

[2021-04-26 14:35] koalalorenzo commented on #256
Not really. We "solved" the issue by draining and recreating the nodes.

[2021-04-27 01:47] jenting commented on #256
From the log, it more like the CPU resource is not enough _or_ the node selector is incorrect.
[code]

I did compare `2.17.1` to `2.19.0`, the change related to this is we set the default CPU/memory request/limit.
We did not enhance/fix something related to the node selector.

[2021-04-27 08:13] koalalorenzo commented on #256
We bumped the Node memory and CPU and that "fixed" the issue (meaning it made them happy). It is not really a solution as there was clearly space, but I suppose now that this might not be an issue of the chart, but of the Kubernetes.

I am happy to either keep this open, but at the same time feel free to close it 👍
BTW, Thank you so much for maintaining the helm charts!!!

[2021-04-27 08:16] jenting commented on #256
Good to know, glad you find a workaround to make it work.
I'd prefer to close it.

[2021-04-27 08:16] #256 closed

[2021-04-28 15:29] #251 closed

[2021-04-29 06:32] jenting commented on #242
@aaadipopt Is this helps you?

[2021-04-29 11:56] aaadipopt commented on #242
hey, sorry,

I have the velero helm chart installed and I tried to test the sa with:
`kubectl run -it   --image google/cloud-sdk:slim   --serviceaccount velero-server   --namespace velero   workload-identity-test` and I can interact with gcp, also, I can install and create backups with `velero-cli install` so I suppose that the sa have the right permissions ...

I will try to erase everything and

[2021-04-30 15:17] headyj commented on #237
@johnjbateman I have the exact same issue with the timeout, except I'm using EKS. Could you please tell me how you fixed this issue?

[2021-04-30 15:31] johnjbateman commented on #237
Forgive me.  I cannot find _what_ I did to fix this.  IIRC it was a bone-head mistake.  For reference though, here is my end override.yaml:

[code]

[2021-05-01 15:30] ndegory opened #260 "Failed to update Velero CRDs when using a private registry"
**What steps did you take and what happened:**
- using a private registry for the velero image
- upgrading from 1.5 to 1.6

**What did you expect to happen:**
- no errors

**The output of the following commands will help us better understand what's going on**:
Helm upgrade:
[code]
events:
[code]

**Anything else you would like to add:**

The secret used by the deployment should also be used by the

[2021-05-03 00:26] simon-anz opened #262 "Restic used during backup, even when not requested"
**What steps did you take and what happened:**
Installed chart 2.19.1 . Values file had:

    # Whether to deploy the restic daemonset.
    deployRestic: false

The daemonset wasn't deployed, which is good, but something is still attempting to create secrets.  We are running with a read-only clusterrole, and got the following error:

{"level":"warning","logSource":"pkg/cmd/server/server.go:496","m

[2021-05-03 00:42] simon-anz commented on #262
This is probably an upstream issue, not a chart issue.

[2021-05-03 01:32] simon-anz commented on #262
Yeah, totally is. Looks like this is created by Velero when setting up the Restic repository

https://github.com/vmware-tanzu/velero/blob/e9c997839ebbb04688a88ffb981eeb74de51b380/pkg/restic/repository_keys.go

regardless of whether Restic is enabled

https://github.com/vmware-tanzu/velero/blob/e9c997839ebbb04688a88ffb981eeb74de51b380/pkg/cmd/server/server.go#L502

[2021-05-05 03:26] jenting commented on #262
@carlisia Would you mind moving this issue to `vmware-tanzu/velero`? Thank you.

[2021-05-05 03:27] jenting commented on #249
@carlisia Would you mind moving this issue under `vmware-tanzu/velero`? Thank you.

[2021-05-05 03:28] jenting commented on #235
Inactive, close it now. Feel free to reopen if the helm chart does not work correctly with ArgoCD.

[2021-05-05 03:28] #235 closed

[2021-05-06 13:55] dgamo commented on #242
We were having a  similar issue today when installing Velero using this chart.

The problem comes if the GOOGLE_APPLICATION_CREDENTIALS environment variable exists in the pod if so, Velero tries to use that as auth instead of Workload Identity. I guess that's due Google's SDK behaviour if the env var is present.

The chart automatically adds that env var if the provider is set to gcp.

https://git

[2021-05-06 13:57] jenting commented on #242
@dgamo Good finding!!!
If we set `credentials.useSecret=false`, would it working?

[2021-05-06 14:08] dgamo commented on #242
Good call, I didn't realise it defaults to `true` and it's a condition to create that env var.

I've just updated `credentials.useSecret` to `false` and everything works using Workload Identity. Maybe a comment in the `values.yaml` would be useful for people using Workload Identity.

Thanks a lot for that !

[2021-05-12 14:58] jenting commented on #253
@carlisia I saw the https://github.com/vmware-tanzu/velero/pull/3712 merged. Would you like to file a PR here to use a new one?

[2021-05-12 15:00] carlisia commented on #253
Thanks for checking. That one didn't fix it. I'm waiting on this one, and please merge it if it looks good to you: https://github.com/vmware-tanzu/velero/pull/3743.

[2021-05-12 15:01] jenting commented on #254
Hmmm... it's not easy to make it backward-compatible.
I need more time on this.

Or other contributors, feel free to open PR if you have a good idea on this one.

[2021-05-12 15:09] jenting commented on #253
Merged!

[2021-05-12 15:24] carlisia commented on #253
@jenting if you want to get this taken care of please go ahead. Otherwise I'll open a PR tomorrow.

[2021-05-12 16:50] badalk commented on #254
i wished if the kustomize approach the team is working on is available to use. Will help us to keep the chart in central location / repository and just supply values from each cluster configuration repo and sync helm-release with helm operator and flux !!

[2021-05-12 23:07] jenting commented on #254
No, we won't choose kustomize as our solution.

You could use kustomize + GitOps tool in your repo and add customize value to overwrite the default.

[2021-05-17 14:46] laurent6 opened #265 "Error signature version"
Hi,

How we can specify was signature version ?  with this helm chart we've got this message:

[code]

[2021-05-17 22:40] jenting commented on #265
Could you elaborate more in detail?
It'd be good if you could follow the [bug  template](https://github.com/vmware-tanzu/helm-charts/blob/main/.github/ISSUE_TEMPLATE/bug_report.md) or [feature request template](https://github.com/vmware-tanzu/helm-charts/blob/main/.github/ISSUE_TEMPLATE/feature-enhancement-request.md).

[2021-05-18 07:28] laurent6 commented on #265
---
name: Error signature
about: when i use this chart i have lot of error to openIO connection.

---

**What steps did you take and what happened:**
I use helm chart and deploy it by flux.io. All services start

[code]
I test connexion into each node with `s3cmd` tools. It's working. ( key and access aws are correct ) .

**What did you expect to happen:**

it's not working.  I have olot of error

[2021-05-21 10:07] laurent6 commented on #265
My mistake. In velero client I d'idn't add --storage-location value

[2021-05-21 10:07] #265 closed

[2021-05-25 06:46] rameshthangaraj opened #267 "Velero backups stuck in New status and some are partially failed with errors"
Backups provisioned using velero in a k8s cluster got stuck in New and partially failed status.

[code]

**Environment:**

- helm version (use `helm version`):  helm 3
- helm chart version and app version (use `helm list -n <YOUR NAMESPACE>`):  velero-2.12.16
- Kubernetes installer & version: v1.19.6
- Cloud provider or hardware configuration: Azure

[2021-05-25 10:06] rameshthangaraj commented on #267
@skriss can u help here ?

[2021-05-25 10:59] jenting commented on #267
Which velero version you're using?
You use an old helm chart 2.12.16 so I don't know which velero version you're using.

[2021-05-25 16:51] rameshthangaraj commented on #267
Yes, I am able to.
velero get backup-locations
NAME      PROVIDER   BUCKET/PREFIX   ACCESS MODE
default   azure      velero          ReadWrite

[2021-05-25 18:59] nrb commented on #267
`time="2021-05-25T06:02:25Z" level=error msg="Error in syncHandler, re-adding item to queue" controller=downloadrequest error="backupstoragelocation.velero.io \"\" not found" error.file="/github.com/vmware-tanzu/velero/pkg/controller/download_request_controller.go:164" error.function="github.com/vmware-tanzu/velero/pkg/controller.(*downloadRequestController).generatePreSignedURL" key=velero/jenkin

[2021-05-26 09:12] #267 closed

[2021-05-26 09:12] rameshthangaraj commented on #267
But It has only one BSL as default.

[2021-05-26 16:50] yelhouti opened #268 "add possibility to customize the velero-restic-credentials"
**Describe the problem/challenge you have**
velero-restic-credentials is always set to `static-passw0rd`

**Describe the solution you'd like**
have a secret that is created if another value is specified. ex: `vault:velero...`

[2021-05-26 18:45] MaxRink opened #269 "[helm chart] if using missmatched provider env var doesnt get set properly"
**What steps did you take and what happened:**
im configuring configuration.provider to csi and configuration.backupStorageLocation.provider to aws
The access to the bucket fails as AWS_SHARED_CREDENTIALS_FILE doesnt get set, thus the credential lookup fails with
[code]
ive verified it, AWS_SHARED_CREDENTIALS_FILE isnt set inside the velero container
**What did you expect to happen:**
credential l

[2021-05-26 23:53] jenting commented on #269
There is no provider called csi, please use aws instead.

I guess you want to use plugins aws and csi?

[2021-05-27 13:10] MaxRink commented on #269
@jenting Than this page is clearly wrong: https://velero.io/docs/v1.6/supported-providers/

[2021-05-27 14:26] Arturx47 opened #270 "Job upgradeCRDs"
**What steps did you take and what happened:**
i set to false and it crashes the code....
[A clear and concise description of what the bug is, and what commands you ran.)

**What did you expect to happen:**
to get rid of the job...
i would expect to set to upgradeCRDs: false and then don't deploy the job..

**The output of the following commands will help us better understand what's going on**:
(P

[2021-05-27 15:05] jenting commented on #269
Well, it's a bit hard to explain.

Generally, the `configuration.provider` is to provide a simple way to configure only once. Then you don't have to configure to `backupStorageLocation.provider` and `volumeSnapshotLocation.provider` if you're using public cloud provider aws/gcp/auzre/alibaba which supports the Object Store and Volume Snapshotter.

In your use case, I guess you'd want to use aws pl

[2021-05-27 15:37] jenting commented on #270
I did a quick test on set the `upgradeCRDs` to `false`, the `helm template` does not includes the upgrade Job anymore.
Could you elaborate more?

[2021-05-27 15:38] jenting commented on #268
Could you elaborate more on how to fix it within Velero helm chart? Can you provide some examples of how to fix it? Thank you.

[2021-05-28 07:36] jenting commented on #253
I think this one is finished, close it.

[2021-05-28 07:36] #253 closed

[2021-06-03 08:38] Arturx47 commented on #270
Well it did work but only after removing helm hooks...we use pulumi to mange the code...
https://github.com/pulumi/pulumi-kubernetes/issues/555
Thank you

[2021-06-07 10:44] sagar-jadhav opened #273 "Deprecated `apiextensions.k8s.io/v1beta1` CustomResourceDefinition"
**What steps did you take and what happened:**
[code]

_Output:_

[code]

**What did you expect to happen:**
Installation should successful without  above mentioned `warnings`

**Environment:**

- helm version (use `helm version`): helm3
- helm chart version and app version (use `helm list -n <YOUR NAMESPACE>`):  2.14.7
- Kubernetes version (use `kubectl version`): v1.19
- Client OS: Ubuntu

[2021-06-07 10:47] sagar-jadhav commented on #273
Team As a fix api version should be changed from `apiextensions.k8s.io/v1beta1` to `apiextensions.k8s.io/v1` in following CustomResourceDefinition's:

- charts/velero/crds/volumesnapshotlocations.yaml
- charts/velero/crds/deletebackuprequests.yaml
- charts/velero/crds/serverstatusrequests.yaml
- charts/velero/crds/resticrepositories.yaml
- charts/velero/crds/downloadrequests.yaml
- charts/velero/c

[2021-06-07 13:06] jenting commented on #273
Duplicated to #203.

[2021-06-07 13:13] sagar-jadhav commented on #273
Thank you @jenting for marking issue as `duplicate`. I was not aware about the other issue.

[2021-06-08 05:26] sharkymcdongles commented on #203
The easiest way to do this is to use the built-in functions for checking capabilities.

For example something like this should work:
[code]

Unfortunately it doesn't work because CRDs don't support templating via helm. :/ So the only solution is to change it for everyone from a certain version. Helm also won't upgrade CRDs, so you will need manual actions to do this with kubectl apply.

[2021-06-10 07:07] #270 closed

[2021-06-10 16:41] RichardDuaneWolford opened #274 "Azure storage account shows phase and last validated as unknown"
I'm deploying Velero using the CLI with this command:

`helm install velero vmware-tanzu/velero --namespace velero --set-file credentials.secretContents.cloud=./credentials-velero --set configuration.provider=azure --set configuration.backupStorageLocation.name=azure --set configuration.backupStorageLocation.bucket='velero' --set configuration.backupStorageLocation.config.resourceGroup=aks-testing

[2021-06-11 05:14] jenting commented on #274
I did not see any detailed error message.

Besides that, probably you could file [an issue](https://github.com/vmware-tanzu/velero/issues) _or_ ask in [GitHub discussion](https://github.com/vmware-tanzu/velero/discussions). This repo is mainly for the helm chart issue however I did not see any chart-related problem from the log you provided.

[2021-06-21 13:25] csgtree opened #275 "Fail to install helm chart for bucket having numeric name"
**What steps did you take and what happened:**
helm chart version is 2.16.0 and below is the values.yaml.
The bucket name is `12345`
[code]

Here is the error I get if bucket name is `12345`. All works fine is bucket name has only letters like `foobar`
[code]

**What did you expect to happen:**
`12345` is valid bucket name for amazon s3, which should be supported by velero BackupStorageLocation as

[2021-06-24 14:08] ozlotusflare opened #279 "Upgrade CRDs does not work"
**What steps did you take and what happened:**
Hi everyone,
I have upgraded Velero helm chart from `2.15.0` to `2.22.0` and my upgrade failed with this error:

[code]
I suppose that the `upgradeCRDs: true` didn't start upgrade process and creation `BackupStorageLocation` ran early than `CRDs upgraade`

**What did you expect to happen:**
Smooth upgrade.

**Anything else you would like to add:**
I t

[2021-06-24 17:55] amadub opened #280 "error getting credentials using GOOGLE_APPLICATION_CREDENTIALS environment variable: open /credentials/cloud: no such file or directory"
Reference: https://github.com/vmware-tanzu/helm-charts/issues/180

I know from the above issue that the key name must be cloud. However, when I am using a GCP IAMServiceAccountKey, I am unable to change the key name value.

Is there a way for us to change the key name reference of "cloud" to our own custom key name? When using IAMServiceAccountKey, it must be key.json.

[2021-06-25 00:42] jenting commented on #279
@ozlotusflare,
Could you please provide your `values.yaml`?

[2021-06-25 00:49] jenting commented on #280
@amadub,
Thank you for the reporting. Now, I've no knowledge of GCP IAMServiceAccountKey. Is it seems similar to AWS IAM Role ARN?
If yes, probably you're looking at a kind of setting like [this](https://github.com/vmware-tanzu/helm-charts/blob/daa10dd/charts/velero/values.yaml#L27-L32).

BTW, I don't remember we could change the key name from `cloud` to your own custom own key name.

[2021-06-25 08:44] ozlotusflare commented on #279
Hi @jenting
Sure:
[code]

[2021-06-25 08:55] jenting commented on #279
Could you please try to remove `default: true` from `values.yaml` to make it work first?

You're right, the CRD should be upgraded first then the CR.
I need to double-check again that will the helm waits for` pre-install`, `pre-upgrade` Jobs finished, then apply the CR?

[2021-06-25 08:57] ozlotusflare commented on #279
OK, I'll try and let you know.

[2021-06-25 12:21] amadub commented on #280
@jenting
The GCP IAMServiceAccountKey will create a k8s secret with the stored credentials. The data has a key of "key.json", however velero is looking for a key named "cloud".

I believe my only solution to the problem is being able to change the "cloud" key that velero is looking for in a secret.

[2021-06-25 12:30] jenting commented on #280
Could you please check if it's doable by Velero CLI? https://github.com/vmware-tanzu/velero-plugin-for-gcp#option-1-set-permissions-with-a-service-account

[2021-06-25 13:40] amadub commented on #280
Unfortunately using workload identity isn't an option for me, so I will have to use a secret.

It seems like the CLI only provides an option to specify a credentials file?
I have no issues installing with the CLI and providing a credentials file generated manually.. but that really isn't the goal.

I am trying to use the values.yaml file to provide a secret.

Specifically, this section:
`# Info ab

[2021-06-25 14:49] jenting commented on #280
Sorry, the `key` name _must_ be `cloud`.
I did create the `credential-velero` before follows https://github.com/vmware-tanzu/velero-plugin-for-gcp#option-1-set-permissions-with-a-service-account, though I don't know the reason on your use case on _why_ to `key` name is `key.json`.

[2021-06-25 14:53] amadub commented on #280
@jenting Thanks for the update.
The restrictions of the GCP IAMServiceAccountKey don't allow for the key name to be changed. I will have to try to find a workaround.

[2021-06-25 15:27] ozlotusflare commented on #279
Hey @jenting ,
Without `default: true` field the `CRDs`  upgraded but release in general failed( I have no idea why right now) :
[code]

[2021-06-25 16:15] jenting commented on #279
It means the number of retries for considering a Job as failed.

[2021-07-02 17:45] fluffyf-x opened #282 "Velero cannot restore on aks v1.19.9"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)

- installed velero v 1.6.1 with csi plugin v.0.1.2, velero-plugin-for-microsoft-azure v.1.2.0
- added annotations to `VolumeSnapshotClass`
[code]
- added annotation to pvc's backed up Azure File Store
[code]
- attempted two paths to restore an AKS cluster back to previou

[2021-07-02 21:21] fluffyf-x commented on #282
[code]

[2021-07-05 08:15] jenting commented on #273
Since it's duplicated, I'll close it first.
Thank you for the reporting.

[2021-07-05 08:15] #273 closed

[2021-07-06 20:10] #275 closed

[2021-07-08 14:25] fredleger opened #285 "[velero] allow to specify volume for restic cache"
**Describe the problem/challenge you have**
Backuping big volumes of data seems to create a restic cache directory as a emptydir volume type. Then this will consume as much space as the target backup on the node running it.

In a case you backup a pvc with a lot of data inside of it this implies to have at least as much space free in `/var/lib/kubelet` as the target backup size. It will not be nec

[2021-07-14 18:24] withernet opened #286 "[aws] config has invalid keys [serviceAccount]"
**What steps did you take and what happened:**
Installing via helm chart; used latest release and tried 2.22.0, same error.

**What did you expect to happen:**
No issues with regards to deploying velero

**The output of the following commands will help us better understand what's going on**:
[code]

**Anything else you would like to add:**
Relevant values:
[code]

**Environment:**

- helm version

[2021-07-14 18:54] withernet commented on #286
I cleaned removed the CRDs, and re-deployed, seems to be OK now. Closing.

[2021-07-14 18:54] #286 closed

[2021-07-21 06:20] jenting commented on #279
@ozlotusflare
are you running the Kubernetes in an air-gap environment? Or is the container image in the private registry?
I'm wondering the root cause why the job did not run successfully :thinking:

[2021-07-22 04:12] jenting commented on #279
Okay, I got some clue. The reason is that the upgrade job hit the rate limit on the Docker hub
[code]

[2021-07-22 09:21] ozlotusflare commented on #279
Hi @jenting ,
We are using I guess basic Helm chart using Docker hub ( I don't change anything  ).
In my case was problem with `Network policy ` but I fixed this and faced with the same error one more time.
I just manually installed crds.

[2021-07-23 12:53] enniomara commented on #268
One solution would be to create a secret called `velero-restic-credentials` similarly to how the `velero` secret is created in [`templates/secret.yaml`](https://github.com/vmware-tanzu/helm-charts/blob/main/charts/velero/templates/secret.yaml). That secret can be conditionally applied when `restic.encryption-key` is set for example.

[2021-07-27 18:32] tarundmsharma opened #288 "#BUG# Image version tag 1.6.2 is not available and fails the velero deployment for the file helm-charts/charts/velero/values.yaml"
While deploying velero using the image version as 1.6.2 the deployment fails
[A clear and concise description of what the bug is, and what commands you ran.)

**What did you expect to happen:**
deployment of velero pod in kubernetes cluster

**The output of the following commands will help us better understand what's going on**:
(Pasting long output into a [GitHub gist](https://gist.github.com) or

[2021-08-03 15:17] jenting commented on #288
Could you please provide the detailed log?

[2021-08-05 01:15] jenting commented on #203
Yes, a nightmare :dizzy_face:

[2021-08-05 07:44] damoon opened #289 "kuberntes 1.22 does not support CRD apiextensions.k8s.io/v1beta1 anymore"
**What steps did you take and what happened:**
i want to install velero via the helm chart

**What did you expect to happen:**
it installs

**Anything else you would like to add:**
kubernetes docs: https://kubernetes.io/docs/reference/using-api/deprecation-guide/#v1-22
example crd: https://github.com/vmware-tanzu/helm-charts/blob/main/charts/velero/crds/backups.yaml#L3

**Environment:**

- helm ve

[2021-08-05 15:11] jenting commented on #289
Duplicate to #203.
We're working on bumping to `apiextensions.k8s.io/v1` version at vmware-tanzu/velero and will be target release at v1.6.3.
Once the v1.6.3 is released, we'll bump helm chart CRD to `apiextensions.k8s.io/v1``apiextensions.k8s.io/v1`.

[2021-08-06 11:17] fredleger opened #290 "[velero] velero|restic should (maybe) opt-out on restic backups"
**Describe the problem/challenge you have**

Since 1.5 the new approach by default is to opt-out for restic backups taht are enabled by default.
Looking at the restic backups it seems that velero is backuping restic and velero `scratch` volumes which are if i'm not wrong the temporary location of backups. This volumes can become quite big (see #268) depending of the size of your data.

I don't see

[2021-08-07 07:40] jenting commented on #289
Close this issue since it's duplicate to #203.

[2021-08-07 07:40] #289 closed

[2021-08-13 02:37] jenting commented on #288
Close it, I can make the deployment succeeded, feel free to reopen it if you have any problems.

[2021-08-13 02:37] #288 closed

[2021-08-16 15:16] #203 closed

[2021-08-18 07:18] kpiyush17 opened #293 "Error while installing: post-install timed out waiting for the condition"
**What steps did you take and what happened:**
While installing velero using helm with **upgradeCRDs: true**, getting the post-install timed out waiting for the condition error. I checked in the hook that upgrades crds are part of post-install, which takes too much time and is running for approx 10 mins until getting time out error in helm install.

[code]
I believe this might be an issue for the

[2021-08-19 07:34] qRoC opened #292 "Custom secret name and key for extraEnvVars on DigitalOcean"
**Describe the problem/challenge you have**

Hello.

What is `<your-key>`?

For configuration:

[code]

Need generate 2 secrets: `velero-secrets` and `velero`?

Because is generate:

[code]

**Describe the solution you'd like**

Allow use custom secret name and secret key. Or just use `existingSecret` as secret name, and `value` as key in secret.

**Environment:**

- helm version (use `helm versio

[2021-08-19 16:31] jenting commented on #293
At the latest release, we did bump the kubectl version to v1.16.3 https://github.com/vmware-tanzu/helm-charts/blob/velero-2.23.6/charts/velero/values.yaml#L120.
But from the log, I saw the kubectl version is 1.14.3, is the latest helm chart release still happen the same issue?

[2021-08-20 05:24] kpiyush17 commented on #293
Hi @jenting, I upgraded the kubectl version to 1.16.3 but still facing the same issue.

[2021-08-23 12:03] aceeric opened #294 "backupstoragelocation can't be completely configured via Helm"
I'm installing velero using the helm chart https://github.com/vmware-tanzu/helm-charts/releases/tag/velero-2.23.3 with Minio as the backing S3 service.

The backupstoragelocation was never progressing to the `Available` phase and backups were failing. I looked at this documentation: https://velero.io/docs/v1.6/troubleshooting/#is-velero-using-the-correct-cloud-credentials, under the _Troubleshooti

[2021-08-30 10:33] MarshallKiruba opened #296 "Velero - Azure Managed Identity Issues"
We are trying to implement managed identity in our AKS clusters. We are using steps in below documentation to implement managed identity in our Velero pods.

https://github.com/vmware-tanzu/velero-plugin-for-microsoft-azure#option-2-use-aad-pod-identity

The steps they mentioned is for installation through Velero plugin but we are using helm charts to implement velero in our clusters.

So we follo

[2021-08-30 16:44] echel0n opened #297 "error fetching v1beta1 version of volumesnapshotclasses.snapshot.storage.k8s.io"
Using the latest version of Velero v1.6.3 and helm chart version v2.23.6 gives me the following error on backups:

```error executing custom action (groupResource=customresourcedefinitions.apiextensions.k8s.io, namespace=, name=volumesnapshots.snapshot.storage.k8s.io): rpc error: code = Unknown desc = error fetching v1beta1 version of volumesnapshots.snapshot.storage.k8s.io: the server could not f

[2021-09-08 17:21] branttaylor opened #298 "Velero schedule is replaced on every helm upgrade"
**What steps did you take and what happened:**

Every time we run a `helm upgrade` in CI, the `schedule` is replaced due to this:
https://github.com/vmware-tanzu/helm-charts/blob/main/charts/velero/templates/schedule.yaml#L12
This causes Velero to run a new backup every time our CI pipeline runs.

**What did you expect to happen:**

The `schedule` should not be replaced every time, or there should

[2021-09-09 01:13] jenting commented on #298
In my perspective, it should be fixed in Velero core, ref to https://github.com/vmware-tanzu/velero/issues/1980.
After that, every time when a new Schedule CR setting, Velero won't trigger a new backup immediately unless the CronJob setting is triggered.

[2021-09-09 01:15] jenting commented on #293
I met the same problem, but from my investigation, the timeout reason is that Kubernetes waits to pull the container image (because Docker Hub has the rate limit ). Other than this, I did not see any other reason makes the timeout happened.

[2021-09-09 01:17] jenting commented on #292
Sorry for the late reply, I just got permission on the DigitialOcean and I've to find a time to try to deploy Velero with the DigitalOcean provider.
Please wait.

[2021-09-09 01:18] jenting commented on #296
Sorry, currently I don't have the Azure account to test it.
Probably we need to ask other community users about this issue.

[2021-09-09 01:19] jenting commented on #293
Besides that, I haven't thought of a good way to implement in helm chart to auto-detect the Kubernetes version and change the kubectl container image tag.

[2021-09-09 01:22] jenting commented on #285
Nice idea, I did not check if the core Velero supports overwrite the `scratch` volume yet.
If you have tested it and it works, would you mind filing a PR to let users could overwrite the default `scratch` volume in the helm chart? Thank you.

[2021-09-09 01:27] jenting commented on #294
In general, when I deploy Velero, I'll prepare the `credential-velero` locally. And when helm install, specify the credential as
[code]

Or, you could use the pre-existing secret key, you could use https://github.com/vmware-tanzu/helm-charts/blob/velero-2.23.3/charts/velero/values.yaml#L273.
Or, you could specify it in https://github.com/vmware-tanzu/helm-charts/blob/velero-2.23.3/charts/velero/va

[2021-09-09 01:27] branttaylor commented on #298
Thank you @jenting, I see the referenced issue is nearly 2 years old. Hopefully it gets resolved soon.

[2021-09-09 01:28] jenting commented on #279
Related to #293

[2021-09-09 01:29] jenting commented on #298
I saw it be scheduled to `v1.8.0`, hope it'll be fixed along with that release version.

[2021-09-09 07:57] WenLongSun19 opened #299 "[helm-chart] Velero backupStorageLocations configuration"
**What steps did you take and what happened:**
I'm testing cross-cluster migration based on this case [#1899](https://github.com/vmware-tanzu/velero/issues/1899).
But I can't find the ** BackupStorageLocations** configuration in helm chart. How do I set it up correctly?

**What did you expect to happen:**
Configure Velero to support cross-cluster migration

**Environment:**

- helm version (use `h

[2021-09-10 07:23] revog commented on #293
Had the same issue with kubectl image 1.14 and k8s 1.21. After updating to newer kubectl image (1.20.10), deployment run without errors

[2021-09-12 19:00] jgilfoil commented on #294
I think what he's saying is, entries here https://github.com/vmware-tanzu/helm-charts/blob/velero-2.23.3/charts/velero/values.yaml#L273 don't get applied to https://github.com/vmware-tanzu/helm-charts/blob/velero-2.23.6/charts/velero/templates/backupstoragelocation.yaml . I have the `credentials.existingSecret` value set here https://github.com/jgilfoil/k8s-gitops/blob/main/cluster/apps/velero/hel

[2021-09-13 03:30] jenting commented on #299
Related to https://github.com/vmware-tanzu/helm-charts/issues/294#issuecomment-915687776

[2021-09-13 06:29] WenLongSun19 commented on #299
Thank you @jenting , I have configured successfully with only a backupStorageLocation. But my question is how to set multiple backupStorageLocatoins in the helm chart

[2021-09-13 06:31] jenting commented on #299
There is issue #254 about multiple backupStorageLocations in the helm chart.
We haven't find time to add because we need to deal with the backward-compatible.

Free free to contribute it if you have time :smiley:

[2021-09-13 06:32] jenting commented on #299
I'd prefer to close this issue if the leftover question you have is the multiple backup storage locations in the helm chart.
Thank you.

[2021-09-13 06:32] #299 closed

[2021-09-13 09:14] MarshallKiruba commented on #296
@jenting  Thanks for your response.

Do I need to post about this issue anywhere else as well?

[2021-09-13 14:52] #293 closed

[2021-09-13 14:54] jenting commented on #296
Perhaps you could check the GitHub discussion on the vmware-tanzu/velero repo.

[2021-09-14 09:14] tricky42 opened #302 "Velero 3.23.7 upgrade fails on GKE 1.21.4-gke.301 cluster"
**What steps did you take and what happened:**
When upgrading my Velero installation to `2.23.7` the upgrade failed as it was not able to pull the `bitanmi/kubectl` images used in the CRD upgrade job.
Version `2.23.7` introduced a change where the image tag for the `bitnami/kubectl` image was determined by the k8s cluster version if the user has not explicitly configured a image digest or tag.
On

[2021-09-14 09:16] tricky42 commented on #302
@jenting already create PR #301 to fix this issue. As a workaround you can manually specify the image tag of the kubectl container by adding the following line to your values.yaml:

[code]

[2021-09-14 13:44] #302 closed

[2021-09-14 17:26] tonylioon opened #303 "velero-upgrade-crds job fails and then holds up deployment with bad kubectl image"
**What steps did you take and what happened:**
I was installing some new schedules to my velero deployment and the velero-upgrade-crds (post-upgrade hooks) fails with this error:

[code]

![image](https://user-images.githubusercontent.com/52207276/133301324-e85fb123-84ed-4078-a206-b5fd354fa863.png)

the velero deployment itself succeeds but the post-upgrade hook for upgrading the crds hangs:

![im

[2021-09-14 18:31] tonylioon commented on #303
Did some more digging and when I do `kubectl verision` I get this:
[code]
And I think it is the switch done here: https://github.com/vmware-tanzu/helm-charts/pull/301, merged and published this morning, is causing invalid syntax for our docker images.

Not sure what to do about this besides going back to 3.23.7 since `.Capabilities.KubeVersion.Minor` as 18+ is a system config but not a valid docke

[2021-09-14 21:40] javanthropus commented on #298
I think the fact that the schedule resource is deleted and then re-created is actually causing loss of backup resources that are tied to them when using the `useOwnerReferencesInBackup` setting of the schedule under ArgoCD.  In this case, the backup's owner is deleted, and if that alone is not enough to trigger the removal of the backup resource, Argo would then identify the backup as something to

[2021-09-15 08:29] jenting commented on #303
This issue had been addressed in `2.23.8`. please check.

[2021-09-15 15:27] HighWatersDev opened #304 "velero-plugin-for-microsoft-azure: provide credentials as individual variable"
Hi,

I'm trying to install velero using Helm and STORAGE_ACCOUNT_ACCESS_KEY. The only option I see in the docs is to provide the credential as `./credentials-velero` file which works just fine. But when I try to set the same credential using `--set credentials.secretContents.cloud="AZURE_STORAGE_ACCOUNT_ACCESS_KEY=<base64 value>\nAZURE_CLOUD_NAME=AzurePublicCloud"`, it doesn't work. Is there a way

[2021-09-15 19:33] zubron commented on #304
Hi @HighWatersDev. This appears to be specific to the behavior of `--set`  and is not specific to the Velero Helm chart. I tried this out locally and the new lines were not included in the secret contents, but I was able to make it work by explicitly including new lines in the value.
[code]
This behavior is likely dependent on the quoting and shell that is being used. For ease and portability, I w

[2021-09-15 19:33] #304 closed

[2021-09-16 14:17] HighWatersDev commented on #304
Hi @zubron ,

Thanks for the. feedback. I'm sorry I wasn't clear on the issue. I'm trying to use `--set` flag and provide credentials using storage_account_access_key:

[code]

This command creates the same secret as the one created using `--set-file=./credentials-velero` with only difference in name:
- with `--set-file` the name of secret is **credentials-velero**
- with `--set` the name of secre

[2021-09-17 15:24] sarahhodne commented on #303
This ticket is different from #302, and is caused by #301 (the fix that was included in 2.23.8).

Using the 2.23.7 chart, it tries to pull `docker.io/bitnami/kubectl:1.20.7-eks-d88609`, but in 2.23.8, it tries to pull `docker.io/bitnami/kubectl:1.20+`.

This is my `kubectl version`:

[code]

[2021-09-18 17:19] jgilfoil commented on #294
Btw, for what it's worth, the issue I was having that led me here, actually had nothing to do with the credentials not being attached to the backupstoragelocation. I got my backups working without that being set, which kinda leads me to believe that the troubleshooting steps https://velero.io/docs/v1.6/troubleshooting/#troubleshooting-backupstoragelocation-credentials are incorrect, as it works ju

[2021-09-19 01:00] haofeif commented on #83
Hi, I experienced the same issue:

(1) Using S3 SSE-S3 and S3 SSE-KMS with AWS Managed Key work, as it does not require providing the kmsKeyID into the `values.configuration.backupStorageLocation.config.kmsKeyID`
(2) However, using S3 SSE-KMS with CMK does not work. It is successful with backup, but cannot retrieve the logs nor doing restore.
[code]

[2021-09-19 01:04] haofeif commented on #83
Is there any update on this ? As this stop velero leveraging the [S3 Bucket Keys](https://docs.aws.amazon.com/AmazonS3/latest/userguide/bucket-key.html) feature which requires using AWS CMK (Custom Managed Key) to achieve "reduce AWS KMS request costs by up to 99 percent by decreasing the request traffic from Amazon S3 to AWS KMS."

[2021-09-22 07:57] mrszop opened #306 "[Question] Schedules `includedNamespaces` - backup all namespaces without listing"
Hello,

I'm kind of looking for a definition in the `values.yaml` for the scheduler part. I kind of have a lot of namespaces and there a new added an few deleted on a daily basis. Is there a way to say: "please backup all namespaces" without listing them specificly? Like my dummy code i.e.:

[code]

Cheers

[2021-09-22 10:15] mrszop opened #307 "[Question] documentation: defining path"
Hello,

I kind of having a hard time defining a specific path for my backups to s3. Currently they look like this:

[code]

How do I change the `backups/` and `restic/` path? Is this something I missed in the [values.yaml](https://github.com/vmware-tanzu/helm-charts/blob/main/charts/velero/values.yaml)?

Next thing is, backups are created in this format `velero-dev-20210922100042/`. Are there any

[2021-09-22 12:36] sarahhodne commented on #303
A workaround was to specify the kubectl tag manually, since I deploy Velero with Terraform I could get the current version using a data source and do this:

[code]

[2021-09-23 07:47] jenting commented on #307
The folders are create by Velero core, I don't remember we support changing the folder name.
What's the purpose you want to change it?

We could only add prefix https://github.com/vmware-tanzu/helm-charts/blob/velero-2.23.8/charts/velero/values.yaml#L164

I don't remember Velero supports to change the timestamp format https://velero.io/docs/v1.6/how-velero-works/#scheduled-backups

[2021-09-23 07:50] jenting commented on #306
If I understand correctly, you'd like to backup all namespaces.
By default Velero backups all the namespace, so you could remove the key `includedNamespaces` or with value `*` to make it backup all the namespace.

[2021-09-23 07:53] jenting commented on #303
Probably we need to run a regex filter on the major and minor versions.

Don't know why the cluster min version includes `+`. Does it fulfill the semver definition? :thinking:

[2021-09-23 08:03] mrszop commented on #307
Hey jenting,

thanks for the fast reply.

What's the purpose you want to change it?

I have no special purpose for that, but I was curious if it's possible (flexibility) and maybe I was missing an option. I'm already using a prefix.

Ok got it.

Thanks for making things clear,
Cheers

[2021-09-23 08:03] #307 closed

[2021-09-23 08:04] mrszop commented on #306
Thanks for making things clear :),
Cheers

[2021-09-23 08:04] #306 closed

[2021-09-23 08:17] jenting commented on #298
The purpose we want to achieve before is that the helm upgrade did not upgrade the CRD manifest.
It makes us have lots of issues related to it that the user uses old CRD but with new Velero core _or_ CR.

After digging the helm doc, the best way we could think of is to create a job to upgrade the CRD.
And makes sure the job is finished and applies the Backups/Restores/Schedules CR into the cluster

[2021-09-23 14:50] jenting commented on #298
Thanks for the suggestion and we did consider separate the chart before.
But I can't remember the main reason on why we did not choose this solution before.

Anyway, for this chart we would want to make sure helm works well. But for GitOps tool, we could try our best to support it.

[2021-09-23 14:59] javanthropus commented on #298
Regardless of the method used to operate helm, the current hook will cause backups associated with a schedule to be deleted when the chart is re-applied for any reason if the `useOwnerReferencesInBackup` setting is included.  We need to use that setting to prevent ArgoCD from nuking the backups itself, so we're stuck with building a wrapper chart that provides the schedule resources itself without

[2021-09-23 15:04] jenting commented on #298
Sure, we did have that before but after implementing the upgrade CRD job we remove the setting. We could add it back.

[2021-09-23 15:07] javanthropus commented on #298
That would be great!  Thanks.

[2021-09-25 11:24] jenting commented on #279
@ozlotusflare
We did some enhancement on the upgrade part, could you please check if the latest helm chart works well for you?
If yes, we would like to close this issue.

[2021-09-28 00:58] #303 closed

[2021-09-30 15:28] jenting commented on #292
@qRoC The PR #310 be merged and released, could you please check this issue again?

[2021-10-05 15:34] cqc5511 commented on #294
Seeing a similar issue as above. If we set velero `credentials.useSecret` to false, the BSL is still including a credentials and `credential.key` field and because the secret does not exist the BSL is not becoming available without manual intervention to remove the credential.

`error="unable to get credentials: unable to get key for secret: Secret \"\" not found" error.file="/go/src/github.com/vm

[2021-10-25 05:15] damoon opened #315 "chart 2.25 fails to generate template output"
**What steps did you take and what happened:**
tested update from 2.24 to 2.25
it aborted because of invalid yaml

**What did you expect to happen:**
valid yaml

**The output of the following commands will help us better understand what's going on**:
(Pasting long output into a [GitHub gist](https://gist.github.com) or other pastebin is fine.)

**Anything else you would like to add:**
It was intro

[2021-10-25 23:08] #315 closed, assigned to damoon

[2021-11-03 17:59] jsnider-mtu commented on #298
I've just run into this issue and now have backups that exist in S3 but the owner ref has a different UID than the newly created schedule, causing Velero to continuously find them and attempt to sync. Is there anyway to rescue those backups or is that a lost cause?

[2021-11-03 18:08] jsnider-mtu commented on #298
I was able to modify the velero-backup.json file in S3 and change the UID of the owner schedule to match the newly created one. They are now syncing correctly.

[2021-11-11 16:02] jensneuhaus opened #320 "config.provider as an requirement is confusing for new users and the deployment will fail"
**What steps did you take and what happened:**

Trying to deploy Velero without `config.provider` being set will not deploy anything. I expected that it still works with e.g. a config like the following, if one has two different providers:

[code]

**What did you expect to happen:**

Clear description in values.yaml file, that the `provider` is required; a check for it or a better handling if it i

[2021-11-12 08:12] jenting commented on #320
Related to #269

[2021-11-17 04:34] marinoborges opened #321 "Make defaultResticPruneFrequency customizable via helm values"
**Describe the problem/challenge you have**
Currently there is no way to customize defaultResticMaintenanceFrequency

**Describe the solution you'd like**

Add --default-restic-prune-frequency flag to /velero server at templates/deployment.yaml

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
Useful links:
https://github.com/vmware-tanzu/

[2021-11-18 20:51] #321 closed

[2021-12-07 16:22] SmartGuyy opened #324 "Velero/restic : trying to make backup everyday for each project"
**What steps did you take and what happened:**
I'm trying to set up this helm chart to make velero/restic backup everyday instead of comparing if volumes were changed or not and backup only if they changed.

**What did you expect to happen:**

Find a setting in values.yaml or within templates to backup everyday

**The output of the following commands will help us better understand what's going on*

[2021-12-08 10:47] SmartGuyy commented on #324
Maybe i wasn't clear enough : goal of this issue is to ask you if there is any possibility for restic to make snapshots on a daily basis no matter if there was a change in the volume or not.

I'm trying to do that because we have a Grafana dashboard called "backup-checker" and we would like to set up alarms if backups are older than 2 days but the fact that restic doesn't make a new snapshot every

[2021-12-15 06:13] balajir24 opened #325 "Velero restore is not working in Azure"
We are using AKS 1.21.1. Installed velero 1.4.0 with enable CSI feature. Used velero-plugin-for-microsoft-azure:v1.1.0 and velero-plugin-for-csi:v0.1.2

It is able to create velero backup successfully. But velero restore is failing with below error.

[code]

[code]

please help on this.

[2021-12-16 04:50] jenting commented on #325
Any reason you're using old Velero and azure plug-in version?

[2021-12-16 10:07] balajir24 commented on #325
hi @jenting we are running Velero behind a proxy. So we build a Dockerfile using Velero 1.4 version with SSL to avoid ssl error. Other versions does not support `/bin/sh` when we use dockerfile for SSL. it is throwing error when we build a docker image.

[2021-12-17 08:49] imneeteeshyadav98 opened #326 "How to create multiple replica of pods in velero helm."
I try to create multiple replicas of the pod how to do.

[2021-12-17 11:36] jenting commented on #326
Which Pods? Velero server?

[2021-12-21 06:23] jenting commented on #324
For this part, I'm not 100% sure, it's better to check the restic doc to see if there is any flag to achieve.
But from my point of view, restic performs the incremental snapshot so without any change on the file system, the snapshot should not be created.
But anyway, it's better to check the restic doc to see if it's doable or not.

[2021-12-21 12:25] SmartGuyy commented on #324
Hello @jenting, thank you for your reply. From what i see it doesn't seems to be in the spirit of Restic to allow backing up all data everyday without any mechanisms like file change detection... Which seems logical in some way as it would be expensive to scan and rebackup all data each time.

From what i saw in my investigations, this doesn't seems possible so i will close that issue.

[2021-12-21 12:25] #324 closed

[2021-12-23 21:23] ozlotusflare commented on #279
Hi @jenting
Sorry for late answer , I checked , now it works.
Thanks !

[2021-12-23 21:23] #279 closed

[2021-12-24 05:56] jenting commented on #292
Out of response, close the issue first since it's been addressed already.
Feel free to reopen it once you've a further questions.

[2021-12-24 05:56] #292 closed

[2021-12-27 04:58] balajir24 commented on #325
hi @jenting Any update on this.

[2021-12-31 02:02] demisx commented on #294
I couldn't get it working iwth `existingSecret: bsl-credentials` creating secret with `aws` key [per docs](https://github.com/vmware-tanzu/velero-plugin-for-aws#configure-s3-bucket-and-credentials):

[code]

It worked when I changed the `aws` key to `cloud`, though:

[code]

[2022-01-03 11:40] jailigao opened #331 "Helm Templates Command for Velero - Encountered 3 issues"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)

Im using helm templates and it seems that the helm chart is outdated. getting this error after running the yamls from the templates.

[code]

**What did you expect to happen:**
to run velero without getting error

**The output of the following commands will help us bette

[2022-01-03 12:34] jenting commented on #294
:thinking: Probably the error in the plugin's README.
But the helm chart [values.yaml](https://github.com/vmware-tanzu/helm-charts/blob/b629ac8/charts/velero/values.yaml#L297) indicates that the key should be _cloud_.

[2022-01-03 12:36] jenting commented on #331
@jailigao,
I think it's because the `helm template` by default won't render the CRD manifests.
Please try run `helm template` with flag `--include-crds`, thank you.

[2022-01-03 14:35] jailigao commented on #331
Forgot to update. Already resolved the issue. How about with my other concern? That's my issue now

[2022-01-03 14:53] jenting commented on #331
Could you please describe what's the rest concerns?

[2022-01-03 15:32] jailigao commented on #331
``
time="2022-01-03T15:28:58Z" level=error msg="Error getting backup store for this location" backupLocation=azure controller=backup-sync error="rpc error: code = Unknown desc = error loading environment from AZURE_CREDENTIALS_FILE (/credentials/cloud): open /credentials/cloud: no such file or directory" error.file="/go/src/velero-plugin-for-microsoft-azure/velero-plugin-for-microsoft-azure/common

[2022-01-04 12:01] jailigao commented on #331
Any updates on this?

[2022-01-04 12:08] jenting commented on #331
Could you please check the rendered template includes the `AZURE_CREDENTIALS_FILE` as `/credentials/cloud`?
https://github.com/vmware-tanzu/helm-charts/blob/ae05805/charts/velero/templates/deployment.yaml#L162-L163

[2022-01-04 12:12] jailigao commented on #331
Yes, here's my deployment yaml:
[code]

[2022-01-05 09:05] jailigao commented on #331
Hello updates here?

[2022-01-06 09:46] jailigao commented on #331
Hello? any news regarding this issue?

[2022-01-11 10:51] barryboubakar opened #332 "Unable to backup workload to s3 target with restic"
**What steps did you take and what happened:**
I created my helm `values.yaml` file.

[code]
Then I install velero with the following command:

`helm install velero vmware-tanzu/velero --version 2.26.1 --namespace velero --create-namespace -f values.yaml`

**What did you expect to happen:**
I have 2 clusters. On both clusters velero is successfully installed. However backups works on the first clu

[2022-01-11 10:58] barryboubakar commented on #332
@

[2022-01-11 10:58] #332 closed

[2022-01-11 10:58] barryboubakar commented on #332
I created on the wrong repository. The issue belongs to Velero.

[2022-01-12 12:40] goranhaji opened #333 "Velero is not deleting Snapshots associated with backup after Backup Expiry"
**What steps did you take and what happened:**
I am creating a helm release to backup my Kubernetes resource and store it in the Azure resource group
I have set the backupStorageLocation to azure storage container and volumeSnapshotLocation to the Azure resource group
I have set the schedules to run every night "30 1 * * *" and ttl to 14day

the backups get deleted after 14 days but snapshots not

[2022-01-13 15:13] brovoca opened #334 "extraEnvVars doesn't work with numerical values"
**What steps did you take and what happened:**

I attempted to install Velero with an additional environment variable which I want restic to use, but it didn't work when I provided a numerical value. If I supplied `'test'` as the value, it would work.

Relevant `values.yaml` section:
[code]

**What did you expect to happen:**

Helm chart quotes all values provided through extraEnvVars.

**Environm

[2022-01-16 16:50] #333 closed

[2022-01-18 23:59] joemiller opened #335 "CRDs appear OutOfSync when deployed with ArgoCD"
**What steps did you take and what happened:**
Deploying Velero helm chart via ArgoCD leaves the CRDs showing as OutOfSync due to a missing label in the deployed CRDs.

![image](https://user-images.githubusercontent.com/377603/150037632-7f6c91c7-d6b0-4fc0-b16a-c6e3a0806418.png)

**What did you expect to happen:**
CRDs should not show as out of sync.

It looks like what is happening is:

1. ArgoCD

[2022-01-19 14:57] SebPlv opened #336 "When serviceMonitor is enabled prometheus pod annotations should not be set"
Hello,

**What steps did you take and what happened:**
When I deploy velero with serviceMonitor enabled in values.yaml, metrics are collected twice by prometheus, once through serviceMonitor and once through prometheus pod annotations (job prometheus-pod in prometheus).

**What did you expect to happen:**
I think that if servicemonitor is enabled, annotations should not be added to the pods.
At le

[2022-01-29 17:39] badalk commented on #296
Did you try opaque secret for the AZURE_TENANT_ID, AZURE_CLIENT_ID, and i guess subscription id Its clearly not able to get those values from the k8s secret. Look at the velero logs or even azure pod identity pods logs (nmi and mmi pods)

Regards
Badal

[2022-01-31 14:30] balu-ce opened #340 "Not able to overwrite the cluster-admin role"
rbac:
        create: true
        clusterAdministrator: true

I am using this but how can I overide cluster-admin role

[2022-02-01 07:34] balu-ce opened #337 "Not able to overwrite the cluster-admin role"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)
resource "helm_release" "velero" {
  name       =  "velero"
  repository = "https://vmware-tanzu.github.io/helm-charts"
  chart      = "velero"
  version    = "2.27.0"
  namespace  = "velero"

  values = [
    <<-EOT
      initContainers:
        - name: velero-plugin-for

[2022-02-08 15:02] sarasensible opened #338 "Velero doesn't use the currently selected namespace but instead defaults to velero"
**What steps did you take and what happened:**
Kubectl uses the currently selected namespace by default to show resources, however `velero backup get` uses the hard coded namespace `velero`

**What did you expect to happen:**
`velero backup get` without specifying the namespace should default to the currently selected namespace

**The output of the following commands will help us better understand

[2022-02-09 13:39] vchrisb opened #339 "use multi arch kubectl image"
**Describe the problem/challenge you have**
The default kubectl image used for upgrading the CRDs is `bitnami/kubectl`.
This image is currently only available for `amd64` architecture, therefore on a **non** `amd64` cluster the crd upgrade will fail.
https://github.com/bitnami/bitnami-docker-kubectl/issues/22

The velero image is multi arch.

**Describe the solution you'd like**
Use a kubectl imag

[2022-02-09 19:12] jaredallard commented on #339
For anyone who needs a quick fix like I did (in jsonnet, but just goes to `values.yaml` as YAML). Just took the bitnami/kubectl image and made it multi-arch for amd64/arm64.

[code]

[2022-02-10 01:15] jenting commented on #338
It's the original Velero design, please add `--namespace` flag to each velero command _or_ setup default namespace to the velero config.

[2022-02-10 01:15] #338 closed

[2022-02-10 01:16] jenting commented on #339
Thanks for the feedback.

Actually, I'm thinking that probably we should choose another approach to upgrade the Velero CRD instead of using a kubectl job to upgrade the Velero CRD.

[2022-02-10 01:18] jenting commented on #337
Could you please provide a more readable YAML manifest?

Also, if I understand correctly, what you want to achieve is that you want to run velero with another cluster role (other than `cluster-admin`), am I right?

[2022-02-10 01:22] jenting commented on #335
If I remember correctly, for the users who use ArgoCD, they need to set up the `upgradeCRDs: false`.

Actually, I'm thinking that probably we should choose another approach to upgrade the Velero CRD instead of using a kubectl job to upgrade the Velero CRD.

[2022-02-10 01:28] jenting commented on #334
How do you verify it's not working?

I did a quick check by `helm temaplte` with providing
[code]

This is the generated output
[code]

Seems like the numerical value be generated.

[2022-02-10 01:45] jenting commented on #337
Okay, I transfer the issue from vmware-tanzu/velero to #340.
Close this issue and use #340 to follow up.

[2022-02-10 01:45] #337 closed

[2022-02-10 07:47] brovoca commented on #334
@jenting try to do a Helm install. `helm template` will for the most part only throw errors when the YAML syntax is incorrect.

[2022-02-10 08:23] SebPlv commented on #336
Hi @jenting
I'm talking about prometheus scraping annotations, the follow section of the values.yaml, under metrics :

[code]

This annotations will instruct Prometheus to scrap pod's metrics through "prometheus-pods" target.
But if serviceMonitor is enabled Prometheus will also scrape the same metrics through "ServiceMonitor" target.

It would be great to have the possibility to not adding this a

[2022-02-11 06:10] jenting commented on #336
@SebPlv
Are you willing to file a PR to fix it?

[2022-02-11 07:42] SebPlv commented on #336
Yes, sure, I'll see what I can do.

[2022-02-11 07:58] jenting commented on #336
Thank u :pray:

[2022-02-11 19:17] robertchen opened #342 "default BackupStorageLocation is not created"
**What steps did you take and what happened:**
Install the velero helm chart, the pod is running fine. but no default BackupStorageLocation.  Backup failed with this error:

Validation errors:  an existing backup storage location wasn't specified at backup creation time and the server default 'default' doesn't exist. Please address this issue (see `velero backup-location -h` for options) and creat

[2022-02-12 07:59] jenting commented on #342
Could you please provide your `values.yaml`? or the helm command? And the `kubectl get BackupStorageLocation -n velero`.

[2022-02-14 10:58] stevehipwell opened #344 "Update chart for v1.8.0 release"
**Describe the problem/challenge you have**
The current chart is for v1.7.1 and now that v1.8.0 has been released the chart should reflect that.

**Describe the solution you'd like**
I'd like the chart to be updated to use v1.8.0 and have any changes required for that.

**Anything else you would like to add:**
n/a

**Environment:**
n/a

[2022-02-14 14:31] robertchen commented on #342
my terraform was working for velero helm chart version 1.1.0 all the time, right now I am upgrading to 1.7.1.

[code]

[2022-02-16 07:50] jenting commented on #342
Have you configured the default field to `true`? https://github.com/vmware-tanzu/helm-charts/blob/31200ebf71e597ff602823b73cc7e50ca78ea4b3/charts/velero/values.yaml#L178

[2022-02-21 12:07] albertschwarzkopf opened #348 "Image scan has detect several vulnerabilites"
Trivy image scanner has detect several vulnerabilites:

`trivy image velero/velero:v1.7.1
2022-02-21T13:02:44.759+0100	INFO	Detected OS: debian
2022-02-21T13:02:44.760+0100	INFO	Detecting Debian vulnerabilities...
2022-02-21T13:02:44.763+0100	INFO	Number of language-specific files: 2
2022-02-21T13:02:44.763+0100	INFO	Detecting gobinary vulnerabilities...

velero/velero:v1.7.1 (debian 10.10)
Total:

[2022-02-21 15:34] #344 closed

[2022-02-28 13:45] urdenko opened #349 "Arm architecture not supported"
**What steps did you take and what happened:**
I have failed installing a helm chart using [this doc](https://aws.amazon.com/ru/blogs/containers/backup-and-restore-your-amazon-eks-cluster-resources-using-velero/)

**What did you expect to happen:**
Success deploy

**The output of the following commands will help us better understand what's going on**:
Init pod for update creds can not start. It ha

[2022-03-01 00:06] jemag opened #350 "Hook removes CRD label"
**What steps did you take and what happened:**
- Run hook job
- Notice it deletes label from CRD

**What did you expect to happen:**
Hook does not delete label

**Anything else you would like to add:**
Currently `app.kubernetes.io/name: velero` label is part of the CRDs. However it seems the hook is using `velero install --crds-only --dry-run -o yaml` which does not generate that label.

I am gues

[2022-03-01 01:47] jenting commented on #350
Thanks for the reporting.

[2022-03-01 01:48] jenting commented on #349
Duplicate to #339

[2022-03-01 07:13] #349 closed

[2022-03-02 12:48] jenting commented on #350
Thanks for the feedback.

Actually, I'm thinking that probably we should choose another approach to upgrade the Velero CRD instead of using a kubectl job to upgrade the Velero CRD.

[2022-03-02 15:38] mrszop opened #351 "Using GCP workload identity"
Hey folks,

I'm having a hard time to define Velero in combination with GCP workload identity. I tried to follow [this guide](https://github.com/vmware-tanzu/velero-plugin-for-gcp#option-2-using-workload-identity), but I'm using helm chart via helmfile and therefor need to adapt it. My work so far.

values.yaml

[code]

I'm always getting:

[code]

Roles assigned are, which I've got [from this lin

[2022-03-03 01:21] jenting commented on #339
The current way is to provide multi-arch is to use [rancher/kubectl](https://hub.docker.com/r/rancher/kubectl/tags) by customize the [kubectl.image.repository](https://github.com/vmware-tanzu/helm-charts/blob/0f27c60c7355609c2e5ed2ca73310b392d2d3559/charts/velero/values.yaml#L126) and [kubectl.image.tag](https://github.com/vmware-tanzu/helm-charts/blob/0f27c60c7355609c2e5ed2ca73310b392d2d3559/char

[2022-03-03 01:27] jenting commented on #350
I think it could be fixed by the [PR](https://github.com/vmware-tanzu/velero/pull/4694).

[2022-03-03 18:24] ujwala02 opened #352 "Updating CRD's not working failed to upgrade with helm"
$ helm list --failed -n velero
NAME    NAMESPACE       REVISION        UPDATED                                 STATUS  CHART           APP VERSION
velero  velero          2               2022-03-03 23:30:10.7192487 +0530 IST   failed  velero-2.28.0   1.8.0

$ helm upgrade velero vmware-tanzu/velero --namespace velero --reuse-values
Error: UPGRADE FAILED: post-upgrade hooks failed: job failed: Back

[2022-03-04 11:32] jenting commented on #352
It seems like pulling the kubectl image can succeed, probably hit the docket hub rate limit.

[2022-03-04 14:51] felfa01 opened #353 "Default Resource Requests and Limits overwrites empty/null value"
**Describe the problem/challenge you have**
You are not able to configure null values for restic daemonset or velero deployment containers. If left empty or with `null`/`~` it will always use the default values. For some use cases you do not want to have e.g. CPU Limits.

**Describe the solution you'd like**
Allow empty values for CPU/Memory Requests/Limits.

**Environment:**

- helm version (use

[2022-03-05 01:06] jenting commented on #353
@felfa01 I did a test with chart 2.28.0 by changing the resources from
[code]
to
[code]

The rendered manifest without the cpu/memory requests/limits.

Also, I configured `resources.requests` only (_without_ limits), the rendered manifest is correct.
[code]

could you please check it?

[2022-03-05 01:08] jenting commented on #351
The related issue I could find is #242. However, you did configure the `credentials.useSecret=false` already but it's not working in your environment :thinking: .

[2022-03-05 11:32] felfa01 commented on #353
@jenting Yes you are correct that what you do works. However, if you are passing a value files with `-f` flag into e.g. helm upgrade that looks like this:
[code]
or
[code]
all empty or `null`/`~` will be overwritten by the default value file from `charts/velero/values.yaml`.

[2022-03-06 08:26] vchrisb commented on #339
@jenting I tried using the rancher image, but it does not include `cp` used here: https://github.com/vmware-tanzu/helm-charts/blob/main/charts/velero/templates/upgrade-crds.yaml#L52
The image only includes `kubectl`: https://github.com/rancher/kubectl/blob/master/Dockerfile

[2022-03-15 09:25] jenting commented on #353
@felfa01 Please try this
[code]
or
[code]

I use the helm v3.7.1 for testing.

[2022-03-15 14:20] felfa01 commented on #353
@jenting
Sorry for not being more clear. What I have setup is a dependency to this repo:
[code]
If I in my sub-chart have a values.yaml and configure the following:
[code]
and run helm template I get the following output:
[code]
However, if I add an additional `test-values.yaml` as input looking like this:
[code]
and run `helm template charts/ --values test-values.yaml` I get this:
[code]
I get th

[2022-03-15 14:46] jenting commented on #353
I see.

It's the helm issue with sub-chart not Velero helm chart issue.
Therefore, your currently PR is a workaround way.

[2022-03-23 12:22] mrszop commented on #351
Ok,

I've got it up and running:

[code]

Definition of GCP SA and GKE SA like here: https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity

If someone need's help with this, let me know.

[2022-03-23 12:34] mrszop opened #357 "GCP/GKE: velero backup logs error 403"
**What steps did you take and what happened:**

Im running a scheduled backup every morning at 6:30 defined like this:

[code]

If I want to take a look into the backup for details, with local velero CLI, because it partially failed i.e., I'm not allowed according to Velero Pod Log:

[code]

**What did you expect to happen:**
Get details about backup

**The output of the following commands will he

[2022-03-24 11:49] danil-smirnov opened #360 "velero backup get result oscillating"
**What steps did you take and what happened:**

I've deployed the latest chart version into GCP cluster and configured relevant backupStorageLocation. The backup works so far.

When I do `velero backup get` or check `velero_backup_total` metric in the Grafana dashboard, I see oscillating results.

(See the screenshot attached.)

**What did you expect to happen:**

When I do `velero backup get` or

[2022-03-24 11:50] danil-smirnov commented on #360
<img width="665" alt="Screenshot 2022-03-24 at 13 41 48" src="https://user-images.githubusercontent.com/27999539/159910308-42af253d-501f-48f8-8ec3-140d1853c314.png">

[2022-03-26 08:02] jenting commented on #351
@mrszop
Would you mind helping us update the `values.yaml` to improve the document if the users use GCP workload identity?
Thank you.

[2022-03-26 08:23] jenting commented on #331
Could you please:
1. check the Secret resource created?
2. log in to the Velero pod to see if the `/credentials/cloud` existed?

[2022-03-28 03:12] #334 closed

[2022-03-28 05:50] #340 closed

[2022-03-28 13:34] mrszop commented on #351
Sure. Shall I create a new values.yaml for workload identities only? What's your idea of implementing this?

[2022-03-28 14:08] jenting commented on #351
Would it possible to adding some comment/sentence/wording to the existing values.yaml?

[2022-03-28 23:47] #350 closed

[2022-03-29 01:25] jenting opened #364 "Auto create PR when a new Velero GA version is released"
**Describe the problem/challenge you have**
[A description of the current limitation/problem/challenge that you are experiencing.]

Sometimes, we'd forget to bump the Velero helm chart for a new Velero GA version is released.

**Describe the solution you'd like**

Have an automatic way (e.g., GitHub Action) to create a PR when a new Velero GA version is released.
The GitHub action could be impleme

[2022-03-29 19:06] mshivanna commented on #352
In our case the upgrade job fails with this error `The CustomResourceDefinition "restores.velero.io" is invalid: spec.preserveUnknownFields: Invalid value: true: must be false in order to use defaults in the schema
customresourcedefinition.apiextensions.k8s.io/volumesnapshotlocations.velero.io unchanged`

[2022-03-29 23:18] jenting commented on #352
Which Kubernetes version you are running?

[2022-03-29 23:26] javanthropus commented on #298
We ultimately ended up doing the same thing in a wrapper chart, @lucagouty.

[2022-03-30 04:08] mshivanna commented on #352
1.18

[2022-03-30 04:25] jenting commented on #352
And which chart version?

[2022-03-30 14:28] mshivanna commented on #352
2.29.3

[2022-04-06 14:42] hairmare opened #365 "[velero] support for PrometheusRule"
**Describe the problem/challenge you have**
We are monitoring Velero via the `ServiceMonitor` that is deployable with the chart, for our kube-prometheus-stack based monitoring to alert when backups fail we also need to deploy some rules as `kind: PrometheusRule`. Currently we are managing them in kube-prometheus-stack's values which allows adding generic rules.

**Describe the solution you'd like*

[2022-04-06 22:06] Michaelpalacce commented on #339
Having the same issue btw. I had to make my own image based on debian. +1 for changing the approach of this....

[2022-04-07 10:44] Michaelpalacce commented on #339
For those interested: https://github.com/Michaelpalacce/HomeLab/blob/master/cluster/homelab/apps/velero/helm-release.yaml

[2022-04-13 13:58] robertchen commented on #352
I got same issue, the upgrade crds pod has this error:

$ k-n util logs  velero-upgrade-crds-9b654
Unable to connect to the server: dial tcp 10.96.0.1:443: i/o timeout

[2022-04-28 06:08] Revanthchowdary9 opened #366 "No backup storage locations found"
logs from pod:-

time="2022-04-28T05:49:43Z" level=info msg="Starting workers" logSource="/go/pkg/mod/github.com/bombsimon/logrusr@v1.1.0/logrusr.go:111" logger=controller.downloadrequest reconciler group=velero.io reconciler kicount=1
time="2022-04-28T05:49:43Z" level=error msg="No backup storage locations found, at least one is required" controller=backup-sync error="no backup storage locations

[2022-05-02 05:30] jenting commented on #366
Please dump the backup storage locations CRs
[code]

[2022-05-02 05:47] Revanthchowdary9 commented on #366
[dev-user@ip- ~]$ kubectl get bsl -A
NAMESPACE   NAME      PHASE   LAST VALIDATED   AGE   DEFAULT
velero              default                                                44m

[2022-05-02 05:49] Revanthchowdary9 commented on #366
[dev-user@ip- velero]$ velero create backup nexus1 --include-namespaces nexus1
Backup request "nexus1" submitted successfully.
Run `velero backup describe nexus1` or `velero backup logs nexus1` for more details.
[dev-user@ip- velero]$ velero backup describe nexus1
Name:         nexus1
Namespace:    velero
Labels:       velero.io/storage-location=default
Annotations:  velero.io/source-cluster-k8s-g

[2022-05-02 08:48] jenting commented on #366
Please check the VolumeSnapshotLocation, from the log, it seems like there are multiple volume snapshot locations.
[code]

[2022-05-02 09:07] Revanthchowdary9 commented on #366
[dev-user@ip-~]$ kubectl get volumesnapshotlocations.velero.io -A
NAMESPACE   NAME      AGE
velero      aws       3d2h
velero      default   3d4h

[2022-05-02 10:46] jenting commented on #366
You should delete one

[2022-05-02 10:51] Revanthchowdary9 commented on #366
I Done deleted and redeployed now getting the below error.

[dev-user@ip-172-26-24-250 velero]$ velero backup describe nexus1
Name:         nexus1
Namespace:    velero
Labels:       velero.io/storage-location=default
Annotations:  velero.io/source-cluster-k8s-gitversion=v1.20.11-eks-f17b81
              velero.io/source-cluster-k8s-major-version=1
              velero.io/source-cluster-k8s-minor-v

[2022-05-02 11:26] jenting commented on #366
Are you using AWS or MinIO?

[2022-05-02 11:26] Revanthchowdary9 commented on #366
AWS

[2022-05-04 07:49] Revanthchowdary9 commented on #366
This are the pod logs 👎

8-8d296d809bdb namespace=velero reconciler group=velero.io reconciler kind=DownloadRequest
time="2022-05-04T07:47:24Z" level=error msg="Error getting a backup store" controller=download-request downloadRequest=velero/nexus2-1b9cb95f-2515-448b-9568-8d296d809bdb error="unable to locate ObjectStore plugin named velero.io/aws" logSource="pkg/controller/download_request_control

[2022-05-04 08:00] jenting commented on #366
I'd suggest you provide the helm chart version you're using and the helm install command _or_ the values.yaml.

[2022-05-04 08:04] Revanthchowdary9 commented on #366
helm install using the values.yaml

[2022-05-04 08:06] jenting commented on #366
Then you've to provide more detail helm install commands.

[2022-05-04 08:07] Revanthchowdary9 commented on #366
Okay in valuesyaml we are the passing the access key and secret

[2022-05-04 09:58] jenting commented on #366
Okay, then I guess your command is similar as below
[code]

Please check your helm install configuration.provider name.

[2022-05-04 10:04] Revanthchowdary9 commented on #366
yes
provider name : AWS

[2022-05-04 11:20] jenting commented on #366
Are you using the latest helm chart?

[2022-05-04 11:51] Revanthchowdary9 commented on #366
yes latest one only

[2022-05-05 12:30] #366 closed

[2022-05-11 09:33] thangamani-arun opened #371 "customer cluster-admin role is not created when new name passed in values.yaml using helm install"
**What steps did you take and what happened:**
I installed velero to a custom namespace, serviceaccount and cluster-admin using helm chart and vlaues.yaml and the helm installation was failing with `Error: INSTALLATION FAILED: failed post-install: timed out waiting for the condition`

`helm install velero vmware-tanzu/velero -n velero-dc1 --create-namespace -f values.yaml --version 2.29.4 --insecu

[2022-05-12 08:49] iamjackhu opened #372 "crds/restores.yaml is a invalid yaml format file"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is, and what commands you ran.)
When helm install velero, it will failed with 'http2: client connection lost'.
if use 'kubectl apply -f crds/restores.yaml', it also failed.

**What did you expect to happen:**
Velero should installed successfully on cluster.

**The output of the following commands will h

[2022-05-12 08:51] iamjackhu commented on #372
The invalid yaml format of crds/restores.yaml happens from line 205.

[2022-05-12 14:55] jenting commented on #372
Could you try this one https://github.com/vmware-tanzu/velero/blob/main/config/crd/v1/bases/velero.io_restores.yaml?

[2022-05-13 02:25] iamjackhu commented on #372
Try to do kubectl apply -f it, but failed.
And we logs the api-server, the following is the error message:
`I0513 02:06:53.290651       1 client.go:360] parsed scheme: "passthrough"
I0513 02:06:53.290973       1 passthrough.go:48] ccResolverWrapper: sending update to cc: {[{https://127.0.0.1:2379/  <nil> 0 <nil>}] <nil> <nil>}
I0513 02:06:53.291051       1 clientconn.go:948] ClientConn switching b

[2022-05-13 02:55] jenting commented on #372
I see, would you mind try kubeadm or k3s or other Kubernetes distro with the same version `1.21.2`..

[2022-05-13 05:28] iamjackhu commented on #372
I think the kubectl client version is not the root cause. Because we refer the helm client lib to deploy Velero helm chart to target cluster in our program.

The following is our program's log
`"level":"error","timestamp":"2022-05-10T10:15:08.522Z","caller":"rest/api_utils.go:32","msg":"Creating instance with creation error.","reqID":"834d70c2-6ba1-4651-a0ca-c5a9a520a28c","error":"failed to instal

[2022-05-13 05:36] iamjackhu commented on #372
I research the Transport code of golang. When TLS connection has no response in 15 seconds, the client side will close the connection and return 'http2: client connection lost' error.

So for this case, the cluster will blocked when install CRD stores.yaml, then kubectl or helm client will return error.

[2022-05-13 05:42] jenting commented on #372
I think there must be something wrong with the restores.yaml manifest on Kubernetes 1.21.2, that why I encourage you to try the other Kubernetes distros _or_ different Kubernetes versions to see if it's reproducible.

The reproduce steps to should be like this
[code]

Correct?

[2022-05-13 05:58] iamjackhu commented on #372
yes

[2022-05-13 05:59] iamjackhu commented on #372
Not all the cluster will meet this issue.

And I wonder why the crd file stores.yaml is invalid json format file, excluding it's too big 111K.

[2022-05-23 17:42] Philippians413 opened #374 "[velero] Helm velero integration not working with restic"
**What steps did you take and what happened:**
I want to deploy restic as a backend and upload backups to SFTP server. Want to do it through Helm.
When I specify in `values.yaml`:
[code]
and run `helm upgrade --install --create-namespace --history-max 3 --namespace velero --render-subchart-notes --wait dev-$(basename $PWD) .` then got next error:
[code]
and also after that velero not deployed.

BT

[2022-05-24 12:50] jenting opened #375 "Check why CI does not catch chart version not bumping"
Currently, the CI failed to catch chart version not bumping, probably cause by this PR https://github.com/vmware-tanzu/helm-charts/pull/373.

We need to make sure these GitHub CI action works as expected.

[2022-05-25 03:11] jenting commented on #374
You need to configure the BackupStoreLocation.

[2022-05-25 03:16] jenting commented on #372
Ref to https://www.theserverside.com/answer/Kubectl-apply-vs-create-Whats-the-difference

If the resource doesn't exist, Kubernetes prefers to use `create`. If the resource existed, use `apply` instead`.
In general, using apply and create for non-existing resource should be the same.
But in your case, it seems no?

[2022-05-26 18:48] dmitry-mightydevops opened #378 "exclude certain resources from the backup schedule"
I need to exclude certain resource types from the backup schedule

specifically I need this:
[code]

this is my schedule:

[code]

what should be the key/value to achieve this?

will the following work?

[code]

os excludedResources? Or excludeResources: "long string" vs array.